Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

select chat template ui fix
  src/components/custom/chat-template-modal/chat-template-modal.tsx
  src/components/custom/chat-template-modal/template-helpers.tsx
  src/components/custom/chat-template-modal/variables-tab.tsx
Due: none

select chat template ui fix
  src/components/custom/chat-template-modal/__tests__/variables-tab.test.tsx
Due: none

chore: publish myoperator-ui v0.0.374
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.309
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat bubble changes
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/agent-source-samples.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/chat-message-list.tsx
  src/components/custom/chat-bubble/index.ts
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/index.ts
  src/components/custom/chat-types/types.ts
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.375
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.310
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat bubble changes
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-message-list.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
Due: none

chore: publish myoperator-ui v0.0.376
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/message-renderers.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.311
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat bubble changes
  src/components/ui/phone-input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.377
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.312
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot disable card changes
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/__tests__/bot-list.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list.stories.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.378
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.313
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.379
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.314
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot disable card changes
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.380
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.315
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

change bot to agent in the create bot modal
  src/components/custom/bots/create-bot-modal.tsx
Due: none

edit integration page chanegs for voicebot
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
Due: none

chore: publish myoperator-ui v0.0.381
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/__tests__/create-bot-flow.test.tsx
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.316
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

edit integration page chanegs for voicebot
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/types.ts
Due: none

chore: publish myoperator-ui v0.0.382
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.317
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat bubble fixes
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/index.ts
  src/components/custom/chat-types/types.ts
  src/index.ts
Due: none

chore: publish myoperator-ui v0.0.383
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.318
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

integration header typo error fix
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/types.ts
Due: none

chore: publish myoperator-ui v0.0.384
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.319
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add botsource
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.385
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.320
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

datetime picker changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

datetime picker changes
  src/components/custom/bots/types.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
