Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

add decimal prop in the number input
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/add-integration/__tests__/add-integration.test.tsx
  src/components/ui/input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

wallet topupdecimal allow
  src/components/custom/wallet-topup/__tests__/wallet-topup.test.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: none

wallet topupdecimal allow
  cspell.json
Due: none

chore: publish myoperator-ui v0.0.327
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.268
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.328
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.269
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.329-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/index.ts
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/types.ts
Due: eslint --fix

file upload modal validation error fix
  src/components/custom/bot-instructions/bot-instructions.tsx
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/bot-settings/types.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/types.ts
Due: none

file upload modal validation error fix
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.329
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.270
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix Space should not increa the char value is char is not allowed
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/textarea.tsx
  src/index.ts
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix 200~VOIC-190 task
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: none

bot instruction page tooltip changes
  src/components/custom/bot-instructions/bot-instructions.tsx
Due: none

fix ui changes
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/index.ts
  src/components/custom/bot-follow-ups/types.ts
  src/components/custom/bot-functions/bot-functions.tsx
  src/components/custom/bot-human-handover/bot-human-handover.tsx
  src/components/custom/bot-instructions/__tests__/bot-instructions.test.tsx
  src/components/custom/bot-instructions/bot-instructions.tsx
  src/components/custom/bot-integrations/bot-integrations.tsx
  src/components/custom/bot-knowledge-base/bot-knowledge-base.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/__tests__/tooltip.test.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.stories.tsx
  src/components/ui/tooltip.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix ui changes
  src/components/custom/bot-instructions/__tests__/bot-instructions.test.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/tooltip.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v${CLI_VERSION}
  .api-snapshot.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.271
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.331
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.272
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot message optional
  src/components/custom/ivr-bot/types.ts
Due: none

bot message optional
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.332
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.273
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: move inlined countNonWhitespaceChars below import block
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: eslint --fix

add tooltop
  src/components/custom/bot-instructions/bot-instructions.tsx
Due: none

fix validation in the create function
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/create-function-validation.ts
Due: none

chore: publish myoperator-ui v0.0.335
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.274
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

textarea character issue fix
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/select.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.336
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.275
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

textarea character issue fix
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
Due: none

chore: publish myoperator-ui v0.0.337
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.276
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

text area changes
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

chore: publish myoperator-ui v0.0.338
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.277
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add showMaxLengthError
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/types.ts
Due: none
