Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

feat: add /add-prop Cursor-native command in .cursor/commands/
  .cursor/commands/add-prop.md
Due: none

add loading under the SetupIntegration
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/bouncing-loader.css
  src/components/custom/setup-integration/bouncing-loader.tsx
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/index.ts
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/types.ts
Due: none

chore: publish myoperator-ui v0.0.315
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.254
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bouncing loader css issue
  packages/cli/components.yaml
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.316
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.255
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

add bouncing loader
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/setup-integration/bouncing-loader.css
  src/components/custom/setup-integration/bouncing-loader.tsx
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/index.ts
  src/index.ts
  tailwind.config.js
Due: eslint --fix

add bouncing loader
  src/components/ui/bouncing-loader.stories.tsx
  src/components/ui/bouncing-loader.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

bouncing-loader add loader
  src/components/ui/bouncing-loader.stories.tsx
  src/components/ui/bouncing-loader.tsx
  src/index.ts
  tailwind.config.js
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.317
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.257
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix select issue
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.318
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.259
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs: use sync-mcp-metadata.js --write in publish workflows
  .claude/commands/publish-all-cursor.md
  .claude/commands/publish-all.md
  .cursor/commands/publish-all-cursor.md
  .cursor/rules/publish-checklist.mdc
Due: none

chore: publish myoperator-ui v0.0.319
  .gitignore
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/bouncing-loader.test.tsx
  src/components/ui/bouncing-loader.stories.tsx
  src/components/ui/bouncing-loader.tsx
  src/index.ts
  tailwind.config.js
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.260
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix multiselect issue
  packages/mcp/src/data/metadata.ts
  src/components/ui/__tests__/bouncing-loader.test.tsx
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.320
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.261
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix bouncing issue
  packages/cli/components.yaml
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/index.ts
Due: none

fix bouncing issue
  src/components/custom/setup-integration/chat-typing-pill.tsx
  src/components/custom/setup-integration/setup-integration-ui-components.stories.tsx
Due: none

chore: publish myoperator-ui v0.0.321
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/setup-integration/chat-typing-pill.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.262
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.322
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/bouncing-loader.test.tsx
  src/components/ui/bouncing-loader.tsx
  tailwind.config.js
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.263
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

content changes
  src/components/custom/add-integration/__tests__/add-integration.test.tsx
  src/components/custom/add-integration/add-integration.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-test/bot-test.stories.tsx
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/chat-contact-panel/chat-contact-panel.tsx
  src/components/custom/chat-template-modal/media-tab.tsx
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/ui/panel.stories.tsx
  src/components/ui/text-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.323-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/add-integration/connected-account-card.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/form-field-label.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/setup-integration/chat-typing-pill.stories.tsx
  src/components/custom/setup-integration/setup-integration-ui-components.stories.tsx
  src/components/custom/single-tab-enforcement/single-tab-enforcement.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix(cli): rewrite ungrouped→grouped sibling imports in generator
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

enter decimal values in the custom amoun plan
  src/components/custom/add-integration/add-integration.tsx
  src/components/custom/wallet-topup/__tests__/wallet-topup.test.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: none

pull main
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.323
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/add-integration/__tests__/add-integration.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.264
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.324
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.265
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.325
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.266
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.326
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.267
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none
