Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-ui v0.0.421
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.356
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

merge new changes
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-list-item/chat-list-item.tsx
Due: none

chat ui changes
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/audio-media/__tests__/audio-media.test.tsx
  src/components/custom/audio-media/audio-media.stories.tsx
  src/components/custom/audio-media/audio-media.tsx
  src/components/custom/audio-media/types.ts
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-timeline-divider/__tests__/chat-timeline-divider.test.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.stories.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

datetime picker changes
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

datetime picker changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.422
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.357
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

datetime picker changes
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.423
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.358
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.424
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.359
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

label and helper tet changes
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/readable-field.tsx
  src/components/ui/select-field.tsx
  src/components/ui/switch.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.425
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.360
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add width in the dropdown
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

chore: publish myoperator-ui v0.0.426
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.361
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

prefix issue fix
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.427
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.362
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

create function changes
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/custom/setup-integration/integration-header.tsx
Due: none

chore: publish myoperator-ui v0.0.428
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/setup-integration/integration-header.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.363
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add Wait for Response when false then disable Agent Message
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.429
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.364
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add new select field and information badge
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/badge.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.430
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.365
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add new select field and information badge
  src/components/ui/__tests__/search-filter.test.tsx
  src/components/ui/search-filter.stories.tsx
  src/components/ui/search-filter.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.431
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.366
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

phone input flag changes
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/phone-input.test.tsx
  src/components/ui/phone-input.stories.tsx
  src/components/ui/phone-input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.432
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.367
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add number in the voicebot
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/docs/props/bot-card.ts
  src/components/custom/bots/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.433
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.368
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none
