Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.276
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.188
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.277
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.190
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.278
  .storybook/main.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-knowledge-base/bot-knowledge-base.stories.tsx
  src/components/custom/bot-test/bot-test.stories.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.191
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.279
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

changes in the SetupIntegration section
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-integrations/__tests__/bot-integrations.test.tsx
  src/components/custom/bot-integrations/bot-integrations.stories.tsx
  src/components/custom/bot-integrations/bot-integrations.tsx
  src/components/custom/bot-integrations/types.ts
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/integration-actions.tsx
  src/components/custom/setup-integration/integration-assistant-bar.tsx
  src/components/custom/setup-integration/integration-chat-messages.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.279-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.193
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

merge to bot-settings
  src/components/ui/__tests__/tooltip.test.tsx
Due: none

chore: publish myoperator-ui v0.0.280
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.195
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

update new chat changes
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-message-list/chat-message-list.stories.tsx
  src/components/custom/chat-message-list/chat-message-list.tsx
  src/components/custom/chat-message-list/message-renderers.tsx
  src/components/custom/chat-notification/__tests__/chat-notification.test.tsx
  src/components/custom/chat-notification/chat-notification.stories.tsx
  src/components/custom/chat-notification/chat-notification.tsx
  src/components/custom/chat-notification/index.ts
  src/components/custom/chat-transport/mock-transport.ts
  src/components/custom/clear-local-chat-data/__tests__/clear-local-chat-data.test.tsx
  src/components/custom/clear-local-chat-data/clear-local-chat-data.stories.tsx
  src/components/custom/clear-local-chat-data/clear-local-chat-data.tsx
  src/components/custom/clear-local-chat-data/index.ts
  src/components/custom/single-tab-enforcement/__tests__/single-tab-enforcement.test.tsx
  src/components/custom/single-tab-enforcement/index.ts
  src/components/custom/single-tab-enforcement/single-tab-enforcement.stories.tsx
  src/components/custom/single-tab-enforcement/single-tab-enforcement.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.281
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/single-tab-enforcement/single-tab-enforcement.stories.tsx
Due: none

chore: publish myoperator-mcp v0.2.197
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.282-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chnage in the propt under Escalate to Human Card or create function
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

change tone changes
  .api-snapshot.json
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/creatable-multi-select.stories.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.282
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/single-tab-enforcement/single-tab-enforcement.stories.tsx
  src/components/ui/creatable-multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.198
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

design changes in the bot config
  packages/cli/components.yaml
  src/components/custom/bot-human-handover/bot-human-handover.stories.tsx
  src/components/custom/bot-human-handover/bot-human-handover.tsx
  src/components/custom/bot-human-handover/types.ts
  src/components/custom/bot-instructions/__tests__/bot-instructions.test.tsx
  src/components/custom/bot-instructions/bot-instructions.tsx
  src/components/custom/bot-integrations/bot-integrations.tsx
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/bot-settings/types.ts
Due: none

chore: publish myoperator-ui v0.0.283
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.200
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

design changes in the bot config
  packages/cli/components.yaml
  src/components/custom/bot-follow-ups/bot-follow-ups.stories.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/types.ts
Due: none

chore: publish myoperator-ui v0.0.284
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.202
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

changes update replated to markdown
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
Due: eslint --fix

Add markdown-content helper for setup-integration
  src/components/custom/setup-integration/markdown-content.tsx
Due: none

chore: publish myoperator-ui v0.0.285
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.204
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chatlist changes
  src/components/custom/chat-list-item/__tests__/chat-list-item.test.tsx
  src/components/custom/chat-list-item/chat-list-item.tsx
  src/components/custom/chat-sidebar/chat-sidebar.tsx
  src/components/custom/chat-types/types.ts
Due: none

chore: publish myoperator-ui v0.0.286
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.206
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat and chat bubble changes
  packages/cli/components.yaml
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/chat-bubble.tsx
  src/components/custom/chat-bubble/chat-message-list.tsx
  src/components/custom/chat-bubble/index.ts
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-message-list/chat-message-list.stories.tsx
  src/components/custom/chat-message-list/chat-message-list.tsx
  src/components/custom/chat-message-list/index.ts
  src/components/custom/chat-template-modal/template-preview.tsx
  src/components/custom/chat-template/index.ts
  src/components/custom/chat-transport/index.ts
  src/components/custom/chat-transport/mock-transport.ts
  src/components/custom/chat-types/types.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/index.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/types.ts
  src/index.ts
Due: none

chore: publish myoperator-ui v0.0.287
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.208
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix setup integration issue
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/integration-actions.tsx
  src/components/custom/setup-integration/integration-assistant-section.tsx
  src/components/custom/setup-integration/integration-chat-messages.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
Due: none

chore: publish myoperator-ui v0.0.288
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-message-list/index.ts
  src/components/custom/chat-message-list/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.210
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
