Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

feat: add Cursor commands and smart-test to main
  .cursor/commands/create-component-cursor.md
  .cursor/commands/publish-all-cursor.md
  package.json
  scripts/smart-test.js
Due: none

chore: remove Claude Code commands from .cursor/commands
  .cursor/commands/code-review.md
  .cursor/commands/create-component.md
  .cursor/commands/publish-all.md
  .cursor/commands/publish-cli.md
Due: none

chore: publish myoperator-ui v0.0.210-beta.8 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/fallback-prompts-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.stories.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.210-beta.9 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

Query parameter validation
  .cursor/commands/publish-all.md
  .cursor/hooks/enforce-bootstrap-compat.sh
  .husky/pre-commit
  .husky/pre-push
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/e2e.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.210-beta.11 (beta)
  .claude/commands/publish-all-cursor.md
  .claude/commands/publish-all.md
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.210
  packages/cli/package-lock.json
  packages/cli/package.json
  public/design-tokens.source.json
Due: none

chore: publish myoperator-mcp v0.2.118
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

pricing page changes
  public/design-tokens.source.json
  src/components/custom/let-us-drive-card/__tests__/let-us-drive-card.test.tsx
  src/components/custom/let-us-drive-card/index.ts
  src/components/custom/let-us-drive-card/let-us-drive-card.stories.tsx
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
  src/components/custom/let-us-drive-card/types.ts
  src/components/custom/power-up-card/types.ts
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/index.ts
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/index.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/types.ts
  src/components/custom/pricing-toggle/types.ts
  src/components/custom/talk-to-us-modal/__tests__/talk-to-us-modal.test.tsx
  src/components/custom/talk-to-us-modal/talk-to-us-modal.stories.tsx
  src/components/custom/talk-to-us-modal/talk-to-us-modal.tsx
  src/components/custom/talk-to-us-modal/types.ts
  src/index.ts
Due: none

chore: publish myoperator-ui v0.0.211-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/let-us-drive-card/__tests__/let-us-drive-card.test.tsx
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/index.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.211
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.119
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

aibot list changes
  packages/cli/components.yaml
  public/design-tokens.source.json
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/__tests__/bot-list-create-card.test.tsx
  src/components/custom/bots/__tests__/bot-list-grid.test.tsx
  src/components/custom/bots/__tests__/bot-list-header.test.tsx
  src/components/custom/bots/__tests__/bot-list-search.test.tsx
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list-create-card.tsx
  src/components/custom/bots/bot-list-grid.tsx
  src/components/custom/bots/bot-list-header.tsx
  src/components/custom/bots/bot-list-search.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/bots.stories.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/index.ts
  src/components/custom/bots/types.ts
  src/index.ts
Due: none

aibot list changes
  src/components/custom/bots/__tests__/bot-list-action.test.tsx
  src/components/custom/bots/bot-list-action.stories.tsx
  src/components/custom/bots/bot-list-action.tsx
Due: none

aibot list changes
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bots.stories.tsx
  src/components/custom/bots/index.ts
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.211-beta.1 (beta)
  .api-snapshot.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list-action.stories.tsx
  src/components/custom/bots/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.211-beta.2 (beta)
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.212
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.120
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.213-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bots/__tests__/edit-bot-flow.test.tsx
  src/components/custom/bots/bot-list-header.tsx
  src/components/custom/bots/bot-list.stories.tsx
  src/components/custom/bots/create-bot-flow.stories.tsx
  src/components/custom/bots/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.213
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.121
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.214-beta.0 (beta)
  .gitignore
  AGENTS.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/__tests__/bot-list-action.test.tsx
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list-action.stories.tsx
  src/components/custom/bots/bot-list-action.tsx
  src/components/custom/bots/bot-list-create-card.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/docs/overview.ts
  src/components/custom/bots/docs/props/bot-list-action.ts
  src/components/custom/bots/docs/props/index.ts
  src/components/custom/bots/index.ts
  src/components/custom/bots/types.ts
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.214
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.122
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.215-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  playground/App.tsx
  playground/TRACKER.md
  playground/assets/no-conversation.png
  playground/assets/no-template-selected.svg
  playground/assets/waba-illustration.png
  playground/index.html
  playground/main.tsx
  playground/vite.config.ts
  public/design-tokens.source.json
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/create-bot-modal.stories.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/docs/props/create-bot-modal.ts
  src/components/custom/bots/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.215
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.123
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.216-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.5 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.6 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.7 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.8 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.9 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/contact-list-item.stories.tsx
  src/components/ui/date-divider.stories.tsx
  src/components/ui/image-media.stories.tsx
  src/components/ui/reply-quote.stories.tsx
  src/components/ui/system-message.stories.tsx
  src/components/ui/unread-separator.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.10 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.12 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

variable component
  packages/cli/components.yaml
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-list-action.stories.tsx
  src/components/custom/bots/bot-list-header.stories.tsx
  src/components/custom/bots/create-bot-flow.stories.tsx
  src/components/custom/bots/create-bot-modal.stories.tsx
  src/components/custom/bots/docs/overview.ts
  src/components/custom/bots/edit-bot-flow.stories.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
  src/index.ts
Due: none
