Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix: update command now handles multi-file components correctly
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-multifile-components.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/update.ts
Due: eslint --fix

feat: add Typography component with comprehensive styling support
  .claude/commands/publish-all.md
  .claude/commands/publish-cli.md
  .claude/commands/publish-mcp.md
  .claude/settings.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/typography.test.tsx
  src/components/ui/typography.stories.tsx
  src/components/ui/typography.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.24
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.25
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: format custom components with Prettier
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-item.tsx
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/event-selector/event-selector.tsx
  src/components/custom/key-value-input/key-value-input.stories.tsx
  src/components/custom/key-value-input/key-value-input.tsx
  src/components/custom/key-value-input/key-value-row.tsx
Due: eslint --fix

feat: add Dialog, DeleteConfirmationModal, and ConfirmationModal components
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/alert.test.tsx
  src/components/ui/__tests__/confirmation-modal.test.tsx
  src/components/ui/__tests__/delete-confirmation-modal.test.tsx
  src/components/ui/__tests__/dialog.test.tsx
  src/components/ui/alert.stories.tsx
  src/components/ui/alert.tsx
  src/components/ui/confirmation-modal.stories.tsx
  src/components/ui/confirmation-modal.tsx
  src/components/ui/delete-confirmation-modal.stories.tsx
  src/components/ui/delete-confirmation-modal.tsx
  src/components/ui/dialog.stories.tsx
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.27
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.97
  .claude/settings.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/button.tsx
  src/components/ui/typography.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.28
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: include internalDependencies for single-file components in registry
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: eslint --fix

feat: add Toast component with Sonner
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
  src/components/ui/__tests__/toast.test.tsx
  src/components/ui/toast.stories.tsx
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.103
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/confirmation-modal.stories.tsx
  src/components/ui/delete-confirmation-modal.stories.tsx
  src/components/ui/toast.stories.tsx
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.31
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.105 - fix Toast type conflict
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/toast.test.tsx
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.32
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: remove invalid eslint comments and fix Toast className type
  packages/cli/src/utils/registry-feedback.ts
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

0.0.32
  package-lock.json
  package.json
Due: none

fix: add source type validation and fix TypeScript errors
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-source-types.js
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
  src/components/ui/typography.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.107 - add source type validation
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.33
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: add DialogDescription for accessibility in all dialog components
  src/components/ui/__tests__/confirmation-modal.test.tsx
  src/components/ui/__tests__/dialog.test.tsx
  src/components/ui/confirmation-modal.tsx
  src/components/ui/delete-confirmation-modal.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.108 - accessibility improvements
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.34
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: add automatic DialogDescription fallback for accessibility
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.109 - dialog accessibility fix
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.35
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

test: add accessibility tests for dialog description fallback
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

test: add accessibility tests for dialog description fallback
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
  src/components/ui/__tests__/confirmation-modal.test.tsx
  src/components/ui/__tests__/delete-confirmation-modal.test.tsx
  src/components/ui/__tests__/dialog.test.tsx
Due: none

feat: pin Radix UI dependency versions in CLI
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.37
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.112
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.38
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.113
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.39
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.114
  .claude/settings.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/page-header.tsx
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.40
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.116
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/package-lock.json
  packages/mcp/package.json
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.42
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.117
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
