Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add button type in the chat compoennts
  src/components/custom/carousel-media/carousel-media.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-message-list.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-composer/chat-composer.tsx
  src/components/custom/chat-contact-panel/chat-contact-panel.tsx
  src/components/custom/chat-header/assignment-dropdown.tsx
  src/components/custom/chat-header/chat-header.tsx
  src/components/custom/chat-header/resolve-button.tsx
  src/components/custom/chat-input/chat-input.tsx
  src/components/custom/chat-input/composer-attachment-preview.tsx
  src/components/custom/chat-new-panel/add-contact-modal.tsx
  src/components/custom/chat-new-panel/chat-new-panel.tsx
  src/components/custom/chat-sidebar/chat-sidebar.tsx
  src/components/custom/chat-template-modal/chat-template-modal.tsx
  src/components/custom/chat-template-modal/media-tab.tsx
  src/components/custom/chat-template-modal/template-preview.tsx
Due: none

chore: publish myoperator-ui v0.0.397
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.332
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

select ui changes
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.398
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.333
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

dropdown menu changes
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/components/ui/dropdown-menu.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.399
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.334
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.400
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.335
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

failed message ui changes
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
Due: none

chore: publish myoperator-ui v0.0.401
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.336
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

vide media changes
  packages/cli/components.yaml
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/media-utils.ts
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/video-media/__tests__/video-media.test.tsx
  src/components/custom/video-media/index.ts
  src/components/custom/video-media/types.ts
  src/components/custom/video-media/utils.ts
  src/components/custom/video-media/video-media.stories.tsx
  src/components/custom/video-media/video-media.tsx
Due: none

merge files
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
Due: none

chore: publish myoperator-ui v0.0.402
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.337
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

reply quote ui fixing text alignment
  src/components/ui/reply-quote.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

dropdown menu
  src/components/ui/dropdown-menu.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.403
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.338
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

video media changes
  src/components/custom/video-media/__tests__/video-media.test.tsx
  src/components/custom/video-media/index.ts
  src/components/custom/video-media/utils.ts
  src/components/custom/video-media/video-media.tsx
  src/components/ui/__tests__/reply-quote.test.tsx
  src/components/ui/reply-quote.stories.tsx
  src/components/ui/reply-quote.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.404
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.339
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

video media changes
  src/components/custom/video-media/index.ts
  src/components/custom/video-media/types.ts
  src/components/custom/video-media/utils.ts
Due: none

chore: publish myoperator-ui v0.0.405
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.340
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

reply quote changes
  src/components/ui/__tests__/reply-quote.test.tsx
  src/components/ui/reply-quote.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.406
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/bot-identity-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.341
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

in the bot i have changed the label bot to agent
  src/components/custom/bot-test/bot-test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
Due: none

chore: publish myoperator-ui v0.0.407
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-test/__tests__/bot-test.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.342
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

in the bot i have changed the label bot to agent
  src/components/custom/bot-settings/bot-settings.tsx
Due: none

chore: publish myoperator-ui v0.0.408
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.343
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

remove learn more in the failed message
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-types/types.ts
Due: none

chore: publish myoperator-ui v0.0.409
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
