Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.286
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

Failed Message design added
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/types.ts
Due: none

chore: publish myoperator-ui v0.0.349
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/chat-bubble-base.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.287
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.350
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.288
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot changes
  packages/cli/components.yaml
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-types/index.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/create-function-validation.ts
  src/components/custom/ivr-bot/frustration-clamp-to-max-length.ts
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

fix voicebot changes
  packages/cli/components.yaml
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/message-length.ts
  src/index.ts
  src/lib/__tests__/utils.test.ts
  src/lib/utils.ts
Due: none

voicebot changes
  src/components/custom/chat-bubble/chat-bubble-base.tsx
Due: none

chat bubble changes
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/ui/__tests__/reply-quote.test.tsx
  src/components/ui/reply-quote.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chat bubble changes
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.354
  .api-snapshot.json
  packages/cli/package-lock.json
  packages/cli/package.json
  public/design-tokens.source.json
Due: none

chore: publish myoperator-mcp v0.2.289
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.355
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.290
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.356
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.291
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs(select-field): add Playground controls and usage example for lazy-load props
  src/components/ui/select-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

change validation error issue fixed
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/fallback-prompts-card.test.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.stories.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

pull main branch
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.357
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/__tests__/select.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.292
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

change in the voicebot validation
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

chore: publish myoperator-ui v0.0.358
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.293
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voice bot changes
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

chore: publish myoperator-ui v0.0.359
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.294
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/fallback-prompts-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.stories.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

chore: publish myoperator-ui v0.0.360
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.295
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.361
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.296
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/frustration-handover-card.tsx
Due: none

chore: publish myoperator-ui v0.0.362
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.297
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
