Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.129
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: grouped component import path transforms for chat template
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.223-beta.1
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-filter-panel/chat-filter-panel.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.223
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.130
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.224
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.131
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.225
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.132
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add Create Function
  packages/cli/src/utils/registry-custom.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

fix issue in the voicebbot
  packages/cli/components.yaml
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/create-bot-flow.tsx
  src/components/custom/bots/create-bot-modal.stories.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/docs/props/bot-list.ts
  src/components/custom/bots/docs/props/create-bot-flow.ts
  src/components/custom/bots/docs/props/create-bot-modal.ts
  src/components/custom/bots/docs/props/edit-bot-flow.ts
  src/components/custom/bots/edit-bot-flow.tsx
  src/components/custom/bots/index.ts
  src/components/custom/bots/types.ts
  src/components/custom/ivr-bot/__tests__/advanced-settings-card.test.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-bounds.ts
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
  src/index.ts
Due: eslint --fix

upload file modal responsive
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.226
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/advanced-settings-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.133
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.227
  packages/cli/package-lock.json
  packages/cli/package.json
  playground/App.tsx
Due: none

chore: publish myoperator-mcp v0.2.134
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix ui responsive changes in the AI Bot
  public/design-tokens.source.json
  src/components/custom/bots/create-bot-modal.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix ui responsive changes in the AI Bot
  src/components/custom/file-upload-modal/file-upload-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.228
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

chore: publish myoperator-mcp v0.2.135
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add responsove chanegs
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.229
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.136
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

plan modal responsive
  public/design-tokens.source.json
  src/components/custom/plan-detail-modal/plan-detail-modal.tsx
  src/components/custom/plan-upgrade-modal/plan-upgrade-modal.tsx
  src/components/custom/plan-upgrade-summary-modal/plan-upgrade-summary-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.230
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.137
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add botNameMaxLength
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/create-bot-flow.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/docs/props/bot-list.ts
  src/components/custom/bots/docs/props/create-bot-flow.ts
  src/components/custom/bots/docs/props/create-bot-modal.ts
  src/components/custom/bots/docs/props/edit-bot-flow.ts
  src/components/custom/bots/edit-bot-flow.tsx
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.231
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.138
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.232
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.139
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add button chat-template-modal.stories.tsx
  src/components/custom/chat-template-modal/chat-template-modal.stories.tsx
Due: none

chore: publish myoperator-ui v0.0.233 — revert preflight:false, broke border utilities
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.140
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.234-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.234-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.234
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.141
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.235-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.235-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
