Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.139
  .claude/plugins/component-creator/agents/component-creator-agent.md
  .claude/plugins/component-creator/hooks/hooks.json
  .claude/plugins/component-creator/hooks/scripts/enforce-screenshot-first.sh
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/alert-configuration/alert-configuration.stories.tsx
  src/components/custom/api-feature-card/__tests__/api-feature-card.test.tsx
  src/components/custom/api-feature-card/api-feature-card.stories.tsx
  src/components/custom/api-feature-card/api-feature-card.tsx
  src/components/custom/api-feature-card/index.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
  src/components/custom/endpoint-details/index.ts
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/key-value-input/key-value-input.stories.tsx
  src/components/ui/__tests__/copyable-field.test.tsx
  src/components/ui/copyable-field.stories.tsx
  src/components/ui/copyable-field.tsx
  src/index.ts
  tailwind.config.js
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.61
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: memory leak and accessibility issues in CopyableField and EndpointDetails
  .claude/commands/publish-all.md
  src/components/custom/endpoint-details/endpoint-details.tsx
  src/components/ui/copyable-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

feat: rename CopyableField to ReadableField and add EndpointDetails variants
  packages/cli/components.yaml
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/src/data/metadata.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
  src/components/custom/endpoint-details/index.ts
  src/components/ui/__tests__/readable-field.test.tsx
  src/components/ui/readable-field.stories.tsx
  src/components/ui/readable-field.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix: use semantic token and add timeout cleanup tests
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/readable-field.test.tsx
  src/components/ui/readable-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

Release v0.0.140 (#2)
  packages/cli/components.yaml
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/src/data/metadata.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
  src/components/custom/endpoint-details/index.ts
  src/components/ui/__tests__/readable-field.test.tsx
  src/components/ui/readable-field.stories.tsx
  src/components/ui/readable-field.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.140
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.62
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: add CSS variable fallbacks for semantic tokens
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.141
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

feat: add 7 custom components to CLI registry
  .claude/commands/publish-all.md
  .claude/commands/publish-cli.md
  .claude/commands/publish-mcp.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat(cli): auto-detect custom components and install to correct directory
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/add.ts
Due: eslint --fix

chore: add category field to generated registry files
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat(cli): add --category flag to install all components from a category
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/index.ts
Due: eslint --fix

feat(cli): add sync command to add new and update existing components
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  packages/cli/src/index.ts
Due: eslint --fix

fix(cli): add tailwindcss-animate dependency and fix @/components imports
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat: add validation to prevent import/dependency issues
  .claude/plugins/component-creator/commands/create-component.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-imports.js
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

fix: React key warning in page-header + ignore whitespace in sync
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix(sync): check ALL files for multi-file components
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

feat: block direct npm publish - require /publish-cli or /publish-all
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/check-publish-allowed.js
Due: none

feat: block direct git commit/push - only allow via /publish-all
  .husky/pre-push
Due: none

chore: publish myoperator-ui v0.0.151
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.63
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.152-beta.3
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/fix.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  packages/cli/src/utils/tailwind-fix.ts
  src/components/custom/alert-configuration/alert-configuration.stories.tsx
  src/components/custom/api-feature-card/api-feature-card.stories.tsx
  src/components/custom/api-feature-card/api-feature-card.tsx
  src/components/custom/bank-details/bank-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/payment-summary/payment-summary.stories.tsx
  src/components/ui/readable-field.stories.tsx
  src/docs/CLIReference.mdx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.64
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: init command now offers 'update missing files' option
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

fix: skip postcss question for Tailwind v3
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.152
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.65
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs: update CLI reference with init options and auto-fix feature
  src/docs/CLIReference.mdx
Due: none

fix: ApiFeatureCard bullet color now gray (matches Figma)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/api-feature-card/api-feature-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.66
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: custom components now install to ui/ with correct import paths
  CLAUDE.md
  myoperator-settings-demo.html
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.67
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: make baseUrl and companyId optional in EndpointDetails
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.68
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.156
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/skeleton.test.tsx
  src/components/ui/__tests__/spinner.test.tsx
  src/components/ui/skeleton.stories.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/spinner.stories.tsx
  src/components/ui/spinner.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.69
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.157
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.70
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
