Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.375
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fixed the mobile
  .claude/plugins/component-creator/hooks/scripts/enforce-screenshot-first.sh
  .claude/plugins/component-creator/hooks/scripts/validate-css-variables.sh
  public/design-tokens.source.json
  scripts/check-component-tests.js
  scripts/claude-setup-other-machine.sh
  scripts/create-component.js
  src/components/ui/multi-select.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

test
  .claude/plugins/component-creator/hooks/scripts/enforce-screenshot-first.sh
  .claude/plugins/component-creator/hooks/scripts/validate-css-variables.sh
  scripts/check-component-tests.js
  scripts/claude-setup-other-machine.sh
  scripts/create-component.js
Due: none

multi select infinite changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.442
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.376
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

scroll-stall bug fix and controlled search bug fix
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

Regenerate CLI registry after merge, sync package-lock.json
  package-lock.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.443
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

chore: publish myoperator-mcp v0.2.377
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

minor-fixes
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/multi-select.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fixed-call-logs
  public/design-tokens.source.json
  src/components/custom/call-logs/call-logs-active-filters-bar/call-logs-active-filters-bar.stories.tsx
  src/components/custom/call-logs/call-logs-active-filters-bar/call-logs-active-filters-bar.tsx
Due: none

CallLogsActiveFiltersBar clear all issue fix
  package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/call-logs/call-logs-active-filters-bar/call-logs-active-filters-bar.stories.tsx
  src/components/ui/__tests__/pagination.test.tsx
  src/components/ui/pagination.stories.tsx
  src/components/ui/pagination.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.444
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.378
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add new long list options
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/select.stories.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.445
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/select.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.379
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add new long list options
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.446
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.380
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add new long list options
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-range-picker.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.447
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.381
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

DateRangePicker changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-range-picker.test.tsx
  src/components/ui/date-range-picker.stories.tsx
  src/components/ui/date-range-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.448
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/date-range-picker.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.382
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

date and time picker options
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.449
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.383
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

date and time pciker changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.450
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.384
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix date and time picker issue
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
Due: eslint --fix

fix date and time picker issue
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.452
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.386
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

change date-time-picker
  src/components/ui/date-time-picker.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.453
  .api-snapshot.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
