Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-ui v0.0.158
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/alert-configuration/alert-configuration.stories.tsx
  src/components/custom/alert-configuration/alert-values-modal.tsx
  src/components/custom/alert-configuration/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.71
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.159
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-coverage.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.72
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.73
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.161
  packages/cli/package.json
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/table.test.tsx
  src/components/ui/table.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.74
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.162
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/wallet-topup/types.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.75
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.163
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/payment-option-card/index.ts
  src/components/custom/payment-option-card/payment-option-card-modal.tsx
  src/components/custom/payment-option-card/payment-option-card.stories.tsx
  src/components/custom/payment-option-card/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.76
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.164
  .api-snapshot.json
  CLAUDE.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/pagination.test.tsx
  src/components/ui/pagination.stories.tsx
  src/components/ui/pagination.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.77
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.165
  .api-snapshot.json
  packages/cli/package.json
  packages/cli/src/utils/registry-data.ts
  src/components/ui/__tests__/table.test.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.78
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.166
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/wallet-topup/__tests__/wallet-topup.test.tsx
  src/components/custom/wallet-topup/types.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.79
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.167
  .claude/plugins/component-creator/commands/create-component.md
  .cursor/commands/create-component.md
  .storybook/preview.ts
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-registry.js
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/payment-option-card/index.ts
  src/components/custom/payment-option-card/payment-option-card-modal.tsx
  src/components/custom/payment-option-card/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.80
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.81
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

feat: add pricing-card, pricing-page, pricing-toggle, power-up-card, let-us-drive-card components
  src/components/custom/let-us-drive-card/__tests__/let-us-drive-card.test.tsx
  src/components/custom/let-us-drive-card/index.ts
  src/components/custom/let-us-drive-card/let-us-drive-card.stories.tsx
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
  src/components/custom/let-us-drive-card/types.ts
  src/components/custom/power-up-card/__tests__/power-up-card.test.tsx
  src/components/custom/power-up-card/index.ts
  src/components/custom/power-up-card/power-up-card.stories.tsx
  src/components/custom/power-up-card/power-up-card.tsx
  src/components/custom/power-up-card/types.ts
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/index.ts
  src/components/custom/pricing-card/plan-icons.tsx
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/index.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/types.ts
  src/components/custom/pricing-toggle/__tests__/pricing-toggle.test.tsx
  src/components/custom/pricing-toggle/index.ts
  src/components/custom/pricing-toggle/pricing-toggle.stories.tsx
  src/components/custom/pricing-toggle/pricing-toggle.tsx
  src/components/custom/pricing-toggle/types.ts
Due: none

chore: publish myoperator-mcp v0.2.82
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.170
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/wallet-topup/types.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
  src/index.css
  tailwind.config.js
Due: eslint --fix

chore: publish myoperator-mcp v0.2.83
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.171
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/date-range-modal/calendar.tsx
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/date-range-modal/date-range-modal.stories.tsx
  src/components/custom/date-range-modal/index.tsx
  src/components/ui/__tests__/empty-state.test.tsx
  src/components/ui/empty-state.stories.tsx
  src/components/ui/empty-state.tsx
  src/components/ui/pagination.stories.tsx
  src/components/ui/pagination.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.84
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.172
  .claude/hookify.require-tests-before-publish.local.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/input.tsx
  src/components/ui/text-field.tsx
  src/components/ui/toast.stories.tsx
  src/components/ui/toast.tsx
  src/index.css
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.85
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.173
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.86
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.174
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.87
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.175
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.88
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.176
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.89
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.177
  packages/cli/package.json
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry
