Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-mcp v0.2.43
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.118
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/key-value-input/key-value-input.stories.tsx
  src/components/custom/key-value-input/key-value-input.tsx
  src/components/custom/key-value-input/key-value-row.tsx
  src/components/custom/key-value-input/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.44
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat(cli): add full CSS variables to init templates
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

fix(cli): improve CSS variable detection in init command
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.45
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: migrate custom components to semantic CSS variables
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-item.tsx
  src/components/custom/event-selector/event-selector.tsx
  src/components/custom/key-value-input/key-value-input.tsx
  src/components/custom/key-value-input/key-value-row.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.46
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.125
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.47
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix(text-field): update label styling per design spec
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.48
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix(page-header): change description color to text-secondary per design
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.49
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: update form field labels to match design spec (text-xs font-normal text-muted)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/multi-select.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.50
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-mcp v0.2.51
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix(event-selector): improve hover visibility on accordion items
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-item.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.52
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: address AI code review suggestions and publish v0.0.131
  CLAUDE.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/delete-confirmation-modal.test.tsx
  src/components/ui/__tests__/typography.test.tsx
  src/components/ui/delete-confirmation-modal.tsx
  src/components/ui/dialog.tsx
  src/components/ui/toast.tsx
  src/components/ui/typography.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.53
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.54
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add payment-summary custom component and publish v0.0.133
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/payment-summary/__tests__/payment-summary.test.tsx
  src/components/custom/payment-summary/index.ts
  src/components/custom/payment-summary/payment-summary.stories.tsx
  src/components/custom/payment-summary/payment-summary.tsx
  src/index.ts
Due: none

chore: publish myoperator-mcp v0.2.55
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs: clarify publish-all workflow always requires CLI publish
  .claude/commands/publish-all.md
Due: none

feat: add auto-pay-setup custom component and publish v0.0.134
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/auto-pay-setup/__tests__/auto-pay-setup.test.tsx
  src/components/custom/auto-pay-setup/auto-pay-setup.stories.tsx
  src/components/custom/auto-pay-setup/auto-pay-setup.tsx
  src/components/custom/auto-pay-setup/index.ts
  src/components/custom/auto-pay-setup/types.ts
  src/index.ts
Due: none

chore: publish myoperator-mcp v0.2.56
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add bank-details custom component and fix accordion content padding
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/auto-pay-setup/__tests__/auto-pay-setup.test.tsx
  src/components/custom/auto-pay-setup/auto-pay-setup.tsx
  src/components/custom/bank-details/__tests__/bank-details.test.tsx
  src/components/custom/bank-details/bank-details.stories.tsx
  src/components/custom/bank-details/bank-details.tsx
  src/components/custom/bank-details/index.ts
  src/components/custom/bank-details/types.ts
  src/components/custom/wallet-topup/wallet-topup.tsx
  src/index.ts
Due: none

chore: publish myoperator-mcp v0.2.57
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add showCta prop and ReactNode bodyText to AutoPaySetup, publish v0.0.136
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/auto-pay-setup/auto-pay-setup.stories.tsx
  src/components/custom/auto-pay-setup/auto-pay-setup.tsx
  src/components/custom/auto-pay-setup/types.ts
Due: none

chore: publish myoperator-mcp v0.2.58
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.137
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update plugin configs, story titles, and form-modal tests
  .claude-plugin/plugin.json
  .claude/plugins/component-creator/agents/component-creator-agent.md
  .claude/plugins/component-creator/commands/create-component.md
  .claude/plugins/component-creator/hooks/hooks.json
  .claude/plugins/component-creator/skills/component-analysis/SKILL.md
  .claude/plugins/component-creator/skills/storybook-generator/SKILL.md
  .claude/settings.json
  src/components/custom/auto-pay-setup/auto-pay-setup.stories.tsx
  src/components/custom/bank-details/bank-details.stories.tsx
  src/components/custom/payment-summary/payment-summary.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/ui/__tests__/form-modal.test.tsx
Due: none

chore: publish myoperator-mcp v0.2.59
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.138
  CLAUDE.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/delete-confirmation-modal.test.tsx
  src/components/ui/delete-confirmation-modal.tsx
  src/components/ui/toast.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.60
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: update create-component to require screenshot first
  .claude/plugins/component-creator/commands/create-component.md
Due: none
