Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

fix ui issues
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-settings/bot-settings.fixtures.ts
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/index.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/__tests__/prompt-field-validation.test.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/prompt-field-validation.ts
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/number-step-field.test.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/input.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/number-step-field.tsx
  src/components/ui/textarea.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix ui issues
  public/design-tokens.source.json
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

pull main branch
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-settings/bot-settings.fixtures.ts
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/index.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/__tests__/prompt-field-validation.test.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/prompt-field-validation.ts
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/number-step-field.test.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/input.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/number-step-field.tsx
  src/components/ui/textarea.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

pull main branch
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

pull main branch
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/prompt-field-validation.ts
Due: eslint --fix

fix ui issues
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

fix ui issues
  public/design-tokens.source.json
Due: none

pull main branch
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-accept.test.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-accept.ts
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/types.ts
  src/components/custom/ivr-bot/__tests__/frustration-handover-card.test.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/__tests__/setup.ts
  src/components/ui/__tests__/tooltip.test.tsx
  src/components/ui/creatable-multi-select.stories.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/select.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

UI CHnages
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-types.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

ui changes
  .cursor/rules/registry-protection.mdc
  .gitignore
  .lintstagedrc.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry-types.ts
  packages/cli/src/utils/registry.ts
  scripts/ensure-cli-registry.js
  src/components/custom/ivr-bot/prompt-field-validation.ts
Due: eslint --fix

ui changes
  .api-snapshot.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/prompt-field-validation.ts
Due: eslint --fix

ui changes
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/bot-settings/types.ts
  src/components/custom/bot-test/bot-test.tsx
  src/components/custom/bot-test/types.ts
Due: none

pull main branch
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/prompt-field-validation.ts
Due: eslint --fix

ui changes
  .api-snapshot.json
Due: none

fix ui issues
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.tsx
Due: none

chore: publish myoperator-ui v0.0.265-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/prompt-field-validation.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.265
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.172
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.266
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
Due: none

chore: publish myoperator-mcp v0.2.173
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix DateRangeModal PageHeader
  src/components/custom/date-range-modal/index.tsx
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix DateRangeModal PageHeader
  public/design-tokens.source.json
Due: none

push the main to latest
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

push the main to latest
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/date-range-modal/date-range-modal.stories.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.268
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.174
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

ui changes
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

ui changes
  packages/cli/package-lock.json
Due: none

chore: publish myoperator-ui v0.0.270
  .claude/commands/publish-all-cursor.md
  .claude/commands/publish-all.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/e2e.test.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.176
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing plan changes
  packages/cli/components.yaml
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/index.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
  src/components/custom/pricing-page/types.ts
Due: none

pricing plan changes
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none
