Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.363
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.298
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/advanced-settings-card.tsx
Due: none

chore: publish myoperator-ui v0.0.364
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.299
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot validation
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

chore: publish myoperator-ui v0.0.365
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

chore: publish myoperator-mcp v0.2.300
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.366
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/bot-behavior-card.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.301
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.367
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/ivr-bot/bot-behavior-card.tsx
Due: none

chore: publish myoperator-mcp v0.2.302
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing buttons style change
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
Due: none

change ChatTimelineDivider style
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-timeline-divider/__tests__/chat-timeline-divider.test.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.stories.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.368
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.303
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing page buttpn style changes
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.tsx
Due: none

sort alphabetically
  .storybook/preview.ts
Due: none

chore: publish myoperator-ui v0.0.369
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.304
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

change ChatTimelineDivider style
  src/components/custom/chat-timeline-divider/__tests__/chat-timeline-divider.test.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
Due: none

chore: publish myoperator-ui v0.0.370
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.305
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add datetime picker
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-template-modal/__tests__/template-preview.test.tsx
  src/components/custom/chat-template-modal/chat-template-modal.tsx
  src/components/custom/chat-template-modal/template-preview.tsx
  src/components/custom/sender-indicator/__tests__/sender-indicator.test.tsx
  src/components/custom/sender-indicator/sender-indicator.tsx
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add datetime picker
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix ui changes
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/ui/__tests__/phone-input.test.tsx
  src/components/ui/__tests__/text-field.test.tsx
  src/components/ui/phone-input.stories.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/text-field.stories.tsx
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.371
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/phone-input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.306
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix ui changes
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/ui/__tests__/phone-input.test.tsx
  tsconfig.json
  tsconfig.storybook.json
  tsconfig.test.json
Due: none

chore: publish myoperator-ui v0.0.372
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.307
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix ui changes
  packages/cli/components.yaml
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/phone-input.test.tsx
  src/components/ui/phone-input.stories.tsx
  src/components/ui/phone-input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.373
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.308
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix ui changes
  src/components/ui/phone-input.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

input box chnages
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/text-field.test.tsx
  src/components/ui/input.tsx
  src/components/ui/text-field.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
