Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.233
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing page changes
  src/components/custom/chat-timeline-divider/__tests__/chat-timeline-divider.test.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.stories.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/types.ts
Due: none

chore: publish myoperator-ui v0.0.301
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.235
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing page changes
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/pricing-page/pricing-page.tsx
Due: none

chore: publish myoperator-ui v0.0.302
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.237
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

change in the edit Edit Integration
  src/components/custom/add-integration/add-integration.stories.tsx
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
Due: none

ui changes
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-message-list.tsx
  src/components/custom/chat-bubble/types.ts
Due: none

chore: publish myoperator-ui v0.0.303
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.239
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing page changes
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/__tests__/pricing-plan-cards-layouts.test.tsx
  src/components/custom/pricing-page/index.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/pricing-plan-cards-one-column.tsx
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
  src/components/custom/pricing-page/pricing-plan-cards-two-column.tsx
  src/components/custom/pricing-page/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.304
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.241
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pricing page changes
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
Due: none

chore: publish myoperator-ui v0.0.305
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.243
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.306
  .storybook/main.ts
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
  src/components/custom/pricing-page/types.ts
  src/components/ui/button.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v$(cd packages/mcp && node -p "require('./package.json').version")
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.307
  .claude/commands/publish-all.md
  AGENTS.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.245
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v$(node -p "require('./packages/cli/package.json').version")
  .agents/plugins/marketplace.json
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  plugins/myoperator-workflows/.codex-plugin/plugin.json
  plugins/myoperator-workflows/commands/publish-all.md
  src/components/custom/date-range-modal/__tests__/date-input.test.tsx
  src/components/custom/date-range-modal/__tests__/date-range-modal.test.tsx
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/date-range-modal/index.tsx
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/pricing-plan-cards-one-column.tsx
  src/components/custom/pricing-page/pricing-plan-cards-row.tsx
  src/components/custom/pricing-page/types.ts
  src/components/custom/wallet-topup/__tests__/wallet-topup.test.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/input.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.246
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.309
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-coverage.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/date-range-modal/date-input.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.247
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.310
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-output.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.248
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.311
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-message-list/index.ts
  src/components/custom/chat-message-list/types.ts
  src/components/custom/chat-transport/mock-transport.ts
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/integration-assistant-bar.tsx
  src/components/custom/setup-integration/integration-chat-empty-secondary.tsx
  src/components/custom/setup-integration/integration-chat-messages.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/markdown-content.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.249
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.312
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-output.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.250
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.313-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/commands/add.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/index.css
  tailwind.config.js
Due: eslint --fix

chore: publish myoperator-ui v0.0.313
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-integrations/bot-integrations.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.251
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

pull main branch
  public/design-tokens.source.json
Due: none

chatbubble changes
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
Due: none

chore: publish myoperator-ui v$(cd packages/cli && node -p "require('./package.json').version")
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.252
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

feat: add /add-prop slash command for editing existing components
  .claude/commands/add-prop-cursor.md
  .claude/commands/add-prop.md
  .claude/plugins/component-creator/commands/add-prop.md
  .claude/plugins/cursor-component-publish/commands/add-prop-cursor.md
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
