Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-mcp v0.2.344
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

carousel media updates
  src/components/custom/carousel-media/__tests__/carousel-media.test.tsx
  src/components/custom/carousel-media/carousel-media.tsx
  src/components/custom/carousel-media/types.ts
Due: none

chore: publish myoperator-ui v0.0.410
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.345
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

new comopnent merege
  packages/cli/components.yaml
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/doc-media/__tests__/doc-media.test.tsx
  src/components/custom/doc-media/doc-media.tsx
  src/components/custom/doc-media/index.ts
  src/components/custom/doc-media/types.ts
  src/components/custom/doc-media/utils.ts
Due: none

chore: publish myoperator-ui v0.0.411
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.346
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

new comopnent merege
  src/components/custom/chat-bubble/message-renderers.tsx
Due: none

label and SetupIntegration page changes
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/integration-assistant-bar.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/__tests__/readable-field.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/delete-confirmation-modal.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/phone-input.tsx
  src/components/ui/readable-field.tsx
  src/components/ui/select-field.tsx
  src/components/ui/select.tsx
  src/components/ui/text-field.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.412
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.347
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

label and SetupIntegration page changes
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.413
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.348
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot-identity page changes
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
Due: none

bot-identity page changes
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/text-field.test.tsx
  src/components/ui/input.tsx
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.414
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.349
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot-identity page changes
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/__tests__/creatable-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.415
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.350
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

input label changes
  src/components/ui/input.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

input label changes
  src/components/custom/date-range-modal/calendar.tsx
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/date-time-picker.tsx
  src/components/ui/delete-confirmation-modal.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/input.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/readable-field.tsx
  src/components/ui/select-field.tsx
  src/components/ui/select.tsx
  src/components/ui/text-field.stories.tsx
  src/components/ui/text-field.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add badge and seach filter
  packages/cli/components.yaml
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/badge.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add badge and seach filter
  src/components/ui/__tests__/search-filter.test.tsx
  src/components/ui/search-filter.stories.tsx
  src/components/ui/search-filter.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.416
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.351
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add AI Agent type
  src/components/custom/chat-types/types.ts
  src/components/custom/sender-indicator/sender-indicator.tsx
Due: none

chore: publish myoperator-ui v0.0.417
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/sender-indicator/sender-indicator.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.352
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add AI Agent type
  src/components/custom/sender-indicator/sender-indicator.tsx
Due: none

chore: publish myoperator-ui v0.0.418
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.353
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

label style changes
  src/components/ui/dialog.stories.tsx
  src/components/ui/form-modal.stories.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/phone-input.stories.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.419
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.354
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

search filter changes
  packages/cli/components.yaml
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/search-filter.test.tsx
  src/components/ui/search-filter.stories.tsx
  src/components/ui/search-filter.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.420
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.355
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none
