Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-mcp v0.2.6
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat!: align components with shadcn/ui patterns
  package-lock.json
  package.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/key-value-input/types.ts
  src/components/ui/__tests__/accordion.test.tsx
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/checkbox.test.tsx
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/__tests__/switch.test.tsx
  src/components/ui/__tests__/toggle.test.tsx
  src/components/ui/accordion.stories.tsx
  src/components/ui/accordion.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/switch.stories.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
  src/components/ui/toggle.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.7
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs: update documentation for renamed components
  packages/cli/README.md
  packages/mcp/README.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
  scripts/sync-mcp-metadata.js
Due: none

chore: add Claude Code plugins setup script for multi-machine sync
  scripts/claude-setup-other-machine.sh
Due: none

chore: publish myoperator-ui v0.0.73
  .claude-plugin/plugin.json
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/dropdown-menu.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.9
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add primary variant alias for shadcn alignment
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.10
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add PageHeader component
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/event-selector/event-selector.tsx
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/__tests__/tag.test.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
  src/components/ui/page-header.stories.tsx
  src/components/ui/page-header.tsx
  src/components/ui/tag.stories.tsx
  src/components/ui/tag.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.11
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

feat: add Tooltip component
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.12
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: remove unused variant prop from PageHeader
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/tooltip.test.tsx
  src/components/ui/page-header.tsx
  src/components/ui/tooltip.stories.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

feat: add 4-layer component quality validation system
  .husky/pre-commit
  packages/cli/package.json
  packages/cli/scripts/validate-types.js
  scripts/create-component.js
  scripts/validate-cva-props.js
  src/components/ui/__tests__/consumer-types.test.tsx
Due: none

chore: publish myoperator-ui v0.0.78
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.13
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: normalize content comparison in update command to prevent false positives
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/update.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.80
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.14
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: revert PageHeader pt-4, restore vertical centering
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.15
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add showBorder prop to PageHeader (default: true)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.16
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.17
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add responsive layout with overflow menu to PageHeader
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/consumer-types.test.tsx
  src/components/ui/__tests__/page-header.test.tsx
  src/components/ui/page-header.stories.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.18
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: handle single-quoted Tailwind classes in prefix transformation
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-coverage.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat: add typography foundation to design system
  CLAUDE.md
  packages/cli/package-lock.json
  packages/cli/package.json
  src/docs/foundations/Typography.mdx
  src/index.css
  src/lib/typography.ts
Due: none

chore: publish myoperator-mcp v0.2.19
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

docs: add Typography section to all component stories
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/accordion.stories.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/dropdown-menu.stories.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/page-header.stories.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select.stories.tsx
  src/components/ui/switch.stories.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/tag.stories.tsx
  src/components/ui/text-field.stories.tsx
  src/components/ui/tooltip.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.20
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.88 - update outline button hover
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/src/data/metadata.ts
  src/components/ui/button.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.21
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: add Bootstrap margin resets to PageHeader component
  packages/cli/COMPONENT_GUIDE.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-coverage.js
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.22
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: add Bootstrap margin reset validation script
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-bootstrap-resets.js
Due: none

fix: add Bootstrap margin resets to custom components (event-selector, key-value-input)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-bootstrap-resets.js
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-selector.tsx
  src/components/custom/key-value-input/key-value-input.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.23
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none
