Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.386
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.321
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

date time picker changes
  packages/cli/components.yaml
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

date and time picket changes
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chatbubble changes
  src/components/custom/attachment-preview/__tests__/attachment-preview.test.tsx
  src/components/custom/attachment-preview/attachment-preview.tsx
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-composer/__tests__/chat-composer.test.tsx
  src/components/custom/chat-composer/chat-composer.tsx
  src/components/custom/chat-input/chat-input.tsx
  src/components/custom/chat-input/composer-attachment-preview.tsx
  src/components/custom/chat-new-panel/chat-new-panel.tsx
  src/components/custom/chat-provider/chat-provider.tsx
  src/components/custom/chat-template-modal/chat-template-modal.tsx
  src/components/custom/chat-template-modal/template-helpers.tsx
  src/components/custom/chat-types/types.ts
  src/components/custom/sender-indicator/__tests__/sender-indicator.test.tsx
  src/components/custom/sender-indicator/sender-indicator.tsx
  src/components/ui/__tests__/reply-quote.test.tsx
  src/components/ui/reply-quote.tsx
  src/components/ui/select-field.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.387
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/chat-bubble-base.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.322
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chat bubble changes
  src/components/custom/carousel-media/types.ts
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-list-item/__tests__/chat-list-item.test.tsx
  src/components/custom/chat-list-item/chat-list-item.tsx
  src/components/custom/chat-new-panel/__tests__/chat-new-panel.test.tsx
  src/components/custom/chat-new-panel/chat-new-panel.tsx
  src/components/custom/chat-template-modal/__tests__/variables-tab.test.tsx
  src/components/custom/chat-template-modal/chat-template-modal.tsx
  src/components/custom/chat-template-modal/variables-tab.tsx
  src/components/custom/video-media/types.ts
  src/components/custom/video-media/video-media.tsx
Due: none

bot identity card changes
  src/components/custom/ivr-bot/bot-identity-card.tsx
Due: none

bot identity card changes
  src/components/custom/bots/create-bot-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.388
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.323
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

merge file changes
  src/components/custom/carousel-media/carousel-media.tsx
  src/components/custom/carousel-media/types.ts
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-types/types.ts
Due: none

chore: publish myoperator-ui v0.0.389
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.324
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

create Flat · Contact Messages
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble-base.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-types/index.ts
  src/components/custom/chat-types/types.ts
Due: eslint --fix

add show list modal
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/chat-bubble.stories.tsx
  src/components/custom/chat-bubble/index.ts
  src/components/custom/chat-bubble/message-renderers.tsx
  src/components/custom/chat-bubble/types.ts
  src/components/custom/chat-transport/mock-transport.ts
  src/components/custom/chat-types/index.ts
  src/components/custom/chat-types/types.ts
Due: eslint --fix

add show list modal
  src/components/custom/chat-bubble/__tests__/chat-bubble.test.tsx
  src/components/custom/chat-bubble/message-renderers.tsx
Due: none

calender changes
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.390
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.325
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

merge file changes
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.391
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.326
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix teax area issue
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/textarea.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.392
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.327
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.393
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.328
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

doc media file changes
  src/components/custom/doc-media/doc-media.stories.tsx
Due: none

date time picker changes
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.394
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.329
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

date time picker changes
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.395
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.330
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

date time picker changes
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.396
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.331
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
