Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, cd packages/cli && npm run generate-registry

feat: Add interactive Tailwind prefix configuration to CLI
  packages/cli/package-lock.json
  packages/cli/simple-prefix-test.js
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/config.ts
  packages/cli/test-cli-workflow.md
  packages/cli/test-prefix-functionality.js
Due: eslint --fix

chore: bump version to 0.0.44 for Tailwind prefix feature
  packages/cli/package.json
Due: none

fix: CLI generates correct tailwind config and component imports
  packages/cli/package-lock.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

fix: transform cn import in generate-registry script
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
Due: none

feat: add update command for safe component updates
  packages/cli/package.json
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
Due: eslint --fix

docs: update README with all CLI commands
  packages/cli/README.md
  packages/cli/package.json
Due: none

feat: add component integrity checker for safe updates
  packages/cli/.gitignore
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/check-integrity.js
Due: none

docs: add CLAUDE.md with safe component update instructions
  CLAUDE.md
Due: none

feat(button): make buttons fully rounded (pill shape)
  packages/cli/package.json
  packages/cli/src/utils/registry.ts
  src/components/ui/button.tsx
Due: eslint --fix, cd packages/cli && npm run generate-registry

docs: add @latest recommendation for update command
  packages/cli/README.md
  packages/cli/package.json
Due: none

feat: add comprehensive test coverage and component generator
  .husky/pre-commit
  CLAUDE.md
  eslint.config.js
  package-lock.json
  package.json
  packages/cli/src/__tests__/registry.test.ts
  scripts/check-component-tests.js
  scripts/create-component.js
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/components/ui/__tests__/table.test.tsx
  src/components/ui/__tests__/tag.test.tsx
Due: eslint --fix

style(button): change border-radius from pill to 4px
  src/components/ui/button.tsx
Due: eslint --fix, cd packages/cli && npm run generate-registry

chore(eslint): allow constant exports alongside components
  eslint.config.js
  src/components/ui/button.tsx
Due: eslint --fix, cd packages/cli && npm run generate-registry

chore: release myoperator-ui v0.0.51
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry.ts
Due: eslint --fix

docs: update project guidelines in CLAUDE.md
  CLAUDE.md
Due: none

docs: update README with project documentation
  README.md
Due: none

docs: simplify README
  README.md
Due: none

feat: Add breaking change detection system
  .api-snapshot.json
  .lintstagedrc.json
  package.json
  scripts/check-breaking-changes.js
  scripts/generate-api-snapshot.js
Due: none

feat: add Input, TextField, Select, SelectField, MultiSelect components
  CLAUDE.md
  package-lock.json
  package.json
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/__tests__/setup.ts
  src/components/ui/__tests__/text-field.test.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/input.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
  src/components/ui/select.stories.tsx
  src/components/ui/select.tsx
  src/components/ui/text-field.stories.tsx
  src/components/ui/text-field.tsx
  src/index.ts
Due: eslint --fix, cd packages/cli && npm run generate-registry

chore: publish v0.0.53 with new form components
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat: Add EventSelector, Checkbox, and Collapsible components
  .storybook/preview.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-group.tsx
  src/components/custom/event-selector/event-item.tsx
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/event-selector/event-selector.tsx
  src/components/custom/event-selector/index.ts
  src/components/custom/event-selector/types.ts
  src/components/ui/__tests__/checkbox.test.tsx
  src/components/ui/__tests__/collapsible.test.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/collapsible.stories.tsx
  src/components/ui/collapsible.tsx
  src/index.ts
Due: eslint --fix, cd packages/cli && npm run generate-registry

feat: Add KeyValueInput custom component and dashed button variant
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry.ts
  src/components/custom/key-value-input/index.ts
  src/components/custom/key-value-input/key-value-input.stories.tsx
  src/components/custom/key-value-input/key-value-input.tsx
  src/components/custom/key-value-input/key-value-row.tsx
  src/components/custom/key-value-input/types.ts
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/button.tsx
  src/index.ts
Due: eslint --fix, cd packages/cli && npm run generate-registry

feat(mcp): Add natural language support and simplify to 4 tools (like shadcn)
  .storybook/preview.ts
  packages/mcp/README.md
  packages/mcp/src/data/accessibility.ts
  packages/mcp/src/data/metadata.ts
  packages/mcp/src/server/index.ts
  packages/mcp/src/server/tools/install-component.ts
  src/docs/MCPServer.mdx
Due: none

chore(mcp): bump version to 0.2.0
  packages/mcp/package.json
Due: none

feat(storybook): Add Button documentation with Usage, Accessibility, and Do's and Don'ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/theme.ts
  src/components/ui/button.stories.tsx
  src/storybook/doc-blocks/DoDont.tsx
  src/storybook/doc-blocks/Tip.tsx
  src/storybook/doc-blocks/index.ts
  src/storybook/typography.css
Due: eslint --fix, cd packages/cli && npm run generate-registry

chore: add hookify rules and sync mcp package-lock
  .claude/hookify.block-registry-edits.local.md
  .claude/hookify.component-integrity-check.local.md
  .claude/hookify.mcp-server-update.local.md
  .claude/hookify.require-component-stories.local.md
  .claude/hookify.require-component-tests.local.md
  packages/mcp/package-lock.json
Due: none

chore: publish myoperator-ui v0.0.59
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/vitest.config.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.1
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix(cli): context-aware Tailwind prefix transformation
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

fix(cli): prefix error variant values in cva
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat(cli): add --all flag and CLI Reference docs
  .storybook/preview.ts
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/commands/add.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/registry.ts
  src/docs/CLIReference.mdx
  src/docs/GettingStarted.mdx
  src/docs/Introduction.mdx
Due: eslint --fix

chore: publish myoperator-ui v0.0.67
  .claude-plugin/hooks/validate-prefix-before-push.md
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/hookify.validate-prefix-before-push.local.md
  .claude/settings.json
  commands/publish-all.md
  commands/publish-cli.md
  commands/publish-mcp.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-output.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry.ts
  packages/cli/test-tailwind.js
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
  packages/mcp/src/server/index.ts
  scripts/sync-mcp-metadata.js
  src/components/ui/badge.stories.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/collapsible.stories.tsx
  src/components/ui/dropdown-menu.stories.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select.stories.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/tag.stories.tsx
  src/components/ui/text-field.stories.tsx
  src/components/ui/toggle.stories.tsx
  src/docs/CLIReference.mdx
  src/docs/Introduction.mdx
Due: eslint --fix, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.3
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat(cli): add event-selector and key-value-input to CLI registry
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-selector.tsx
  src/components/custom/key-value-input/key-value-input.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.4
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix(cli): add missing dependencies for select, input, text-field components
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat(cli): add scalable registry architecture with category-based splitting
  .claude/hookify.block-registry-edits.local.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-output.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry-types.ts
  packages/cli/src/utils/registry.ts
  vitest.config.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.5
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat(checkbox): enhance component with accessibility props and improved documentation
  .claude/hookify.use-feature-dev-plugin.local.md
  .claude/hookify.use-frontend-developer-agent.local.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/key-value-input/key-value-input.stories.tsx
  src/components/ui/__tests__/checkbox.test.tsx
  src/components/ui/badge.stories.tsx
  src/components/ui/checkbox.stories.tsx
  src/components/ui/checkbox.tsx
  src/docs/CLIReference.mdx
  src/docs/Introduction.mdx
  src/docs/MCPServer.mdx
Due: eslint --fix, cd packages/cli && npm run generate-registry

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
