Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.235
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.142
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.236-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.236
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.143
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.237
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/chat-template-modal/chat-template-modal.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.144
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix voicebot issues
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/create-function-validation.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

fix voicebot issues
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

chore: publish myoperator-ui v0.0.238
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

chore: publish myoperator-mcp v0.2.145
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix voicebot issues
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: none

chore: publish myoperator-ui v0.0.239
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

chore: publish myoperator-mcp v0.2.146
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.240-beta.0 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/e2e.test.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.240
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.147
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add tooltip and text changes
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/advanced-settings-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.stories.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.241
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.148
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

update new changes
  .api-snapshot.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/ivr-bot/__tests__/advanced-settings-card.test.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/create-function-validation.ts
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/creatable-multi-select.stories.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

update new changes
  src/components/custom/ivr-bot/__tests__/fallback-prompts-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.stories.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: none

chore: publish myoperator-ui v0.0.242
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.149
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.243
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/add-integration/__tests__/add-integration.test.tsx
  src/components/custom/add-integration/add-integration.stories.tsx
  src/components/custom/add-integration/add-integration.tsx
  src/components/custom/add-integration/connected-account-card.tsx
  src/components/custom/add-integration/index.ts
  src/components/custom/add-integration/step-header.tsx
  src/components/custom/add-integration/toolkit-card.tsx
  src/components/custom/add-integration/types.ts
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/chat-message.tsx
  src/components/custom/setup-integration/index.ts
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
  src/docs/foundations/Colors.mdx
  src/index.ts
  src/storybook/design-tokens.css
Due: eslint --fix

chore: publish myoperator-mcp v0.2.150
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

add new chages
  packages/cli/components.yaml
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-text.test.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/fallback-prompts-card.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/bot-identity-text.ts
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.stories.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/form-field-label.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/__tests__/creatable-select.test.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add new chages
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.244
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/form-field-label.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.151
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

update new changes
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/advanced-settings-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-card.test.tsx
  src/components/custom/ivr-bot/__tests__/bot-identity-text.test.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/bot-identity-text.ts
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/create-function-validation.ts
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/creatable-select.test.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.245
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.152
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.246-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/ui/pagination.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.246-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/talk-to-us-modal/__tests__/talk-to-us-modal.test.tsx
  src/components/custom/talk-to-us-modal/talk-to-us-modal.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.246
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.153
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.247
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.154
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.248
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/page-header.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
