Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

bot card add a boolean prop that conditionally adds or removes the numbers mapped section
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/docs/props/bot-card.ts
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.434
  .api-snapshot.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.369
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

login screen added
  packages/cli/components.yaml
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/login/__tests__/login-stories.test.tsx
  src/components/custom/login/__tests__/login.test.tsx
  src/components/custom/login/auth-layout.tsx
  src/components/custom/login/forgot-password-form.tsx
  src/components/custom/login/form-parts.tsx
  src/components/custom/login/index.ts
  src/components/custom/login/login-form.tsx
  src/components/custom/login/login-illustration.ts
  src/components/custom/login/login.stories.tsx
  src/components/custom/login/login.tsx
  src/components/custom/login/otp-input.tsx
  src/components/custom/login/otp-verification-form.tsx
  src/components/custom/login/reset-password-form.tsx
  src/components/custom/login/types.ts
  src/components/custom/login/use-controllable-value.ts
  src/index.css
  src/index.ts
  tailwind.config.js
Due: eslint --fix

login screen added
  src/components/custom/login/forgot-password-form.stories.tsx
  src/components/custom/login/login-form.stories.tsx
  src/components/custom/login/otp-input.stories.tsx
  src/components/custom/login/story-helpers.tsx
Due: none

login screen added
  src/components/custom/login/__tests__/login.test.tsx
  src/components/custom/login/auth-layout.tsx
  src/components/custom/login/login-illustration.ts
  src/components/custom/login/login.stories.tsx
Due: none

add prop for bot numbers
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/docs/props/bot-card.ts
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.435
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/validate-multifile-components.js
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.370
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add prop for bot numbers
  packages/cli/components.yaml
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/bot-card.stories.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/docs/props/bot-card.ts
  src/components/custom/bots/types.ts
Due: none

chore: publish myoperator-ui v0.0.436
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.371
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.437
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.372
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat(plugin): make /build-screen and /audit-screen installable without a checkout
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/skills/audit-screen-cursor/SKILL.md
  .claude/skills/audit-screen/SKILL.md
  .claude/skills/build-screen-cursor/SKILL.md
  .claude/skills/build-screen/SKILL.md
  package.json
  tools/merlin/README.md
  tools/merlin/fixtures/sample-context/context.json
  tools/merlin/fixtures/sample-context/preview.png
  tools/merlin/fixtures/sample-context/tree.json
  tools/merlin/lib/api.mjs
  tools/merlin/lib/auth.mjs
  tools/merlin/lib/config.mjs
  tools/merlin/lib/scaffold.mjs
  tools/merlin/lib/tree-summary.mjs
  tools/merlin/lib/workspace.mjs
  tools/merlin/merlin.mjs
  tools/merlin/template/index.html
  tools/merlin/template/package.json
  tools/merlin/template/postcss.config.js
  tools/merlin/template/src/App.tsx
  tools/merlin/template/src/main.tsx
  tools/merlin/template/src/styles.css
  tools/merlin/template/tailwind.config.js
  tools/merlin/template/tsconfig.json
  tools/merlin/template/vite.config.ts
Due: none

feat(cursor): reach the handoff commands from Cursor's own command directory
  .cursor/commands/audit-screen-cursor.md
  .cursor/commands/build-screen-cursor.md
Due: none

fix(storybook): emit the catalog the build is supposed to publish
  .gitignore
  package.json
  scripts/emit-catalog.js
Due: none

fix(storybook): emit the docgen manifest too, so props are real
  .storybook/main.ts
Due: none

fix(plugin): declare the MCP server where Claude Code actually reads it
  .claude-plugin/plugin.json
  .mcp.json
  CLAUDE.md
Due: none

fix(plugin): bump the version, because that is what gates an update
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CLAUDE.md
Due: none

feat(plugin): one /setup command that connects Merlin and downloads the design system
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .claude/skills/setup/SKILL.md
  tools/merlin/lib/workspace.mjs
Due: none

fix(plugin): make the setup work on a machine that is not this one
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  tools/merlin/lib/workspace.mjs
Due: none

fix multiselect changes
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix(multi-select): keep search input typable inside a Dialog
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.438
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.373
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

multi select load prop added
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.439
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: record myoperator-ui v0.0.439
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

multi select changes
  src/components/ui/multi-select.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.440
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.374
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix(search-filter): cancel the queued refocus so a pick actually closes the menu
  src/components/ui/__tests__/search-filter.test.tsx
  src/components/ui/search-filter.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.441-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.441
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
