Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

DateRangeModal fix calender issue
  packages/cli/components.yaml
  src/components/custom/date-range-modal/date-input.tsx
  src/components/custom/date-range-modal/date-range-modal.stories.tsx
  src/components/custom/date-range-modal/index.tsx
Due: none

chore: publish myoperator-ui v0.0.271
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.178
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot-settings
  src/components/custom/bot-integrations/__tests__/bot-integrations.test.tsx
  src/components/custom/bot-integrations/bot-integrations.stories.tsx
  src/components/custom/bot-integrations/bot-integrations.tsx
  src/components/custom/bot-integrations/index.ts
  src/components/custom/bot-integrations/types.ts
  src/index.ts
  tsconfig.app.json
  tsconfig.node.json
Due: none

chore: publish myoperator-ui v0.0.272
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.180
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

bot-settings integration section change
  src/components/custom/bot-integrations/bot-integrations.tsx
Due: none

chore: publish myoperator-ui v0.0.273
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-integrations/bot-integrations.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.182
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.274-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore(storybook): add React import to button stories
  src/components/ui/button.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

button error
  src/components/ui/button.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.274
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.184
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix Integrations tittle and discription max width
  src/components/custom/bot-integrations/bot-integrations.tsx
Due: none

chore: publish myoperator-ui v0.0.275
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.186
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix Integrations tittle and discription max width
  src/components/custom/bot-integrations/__tests__/bot-integrations.test.tsx
  src/components/custom/bot-integrations/bot-integrations.tsx
Due: none

setup integration create independent seprate reusable components
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/setup-integration/__tests__/setup-integration.test.tsx
  src/components/custom/setup-integration/chat-input.tsx
  src/components/custom/setup-integration/index.ts
  src/components/custom/setup-integration/setup-integration.stories.tsx
  src/components/custom/setup-integration/setup-integration.tsx
  src/components/custom/setup-integration/types.ts
Due: eslint --fix

setup integration create independent seprate reusable components
  src/components/custom/setup-integration/integration-actions.tsx
  src/components/custom/setup-integration/integration-assistant-bar.tsx
  src/components/custom/setup-integration/integration-assistant-section.tsx
  src/components/custom/setup-integration/integration-chat-messages.tsx
  src/components/custom/setup-integration/integration-header.tsx
  src/components/custom/setup-integration/integration-steps.tsx
  src/components/custom/setup-integration/setup-integration-view.tsx
Due: none

setup integration create independent seprate reusable components
  src/components/custom/setup-integration/integration-assistant-section.tsx
  src/components/custom/setup-integration/integration-steps.tsx
Due: none

chore: publish myoperator-ui v0.0.276
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.188
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.277
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.190
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.278
  .storybook/main.ts
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bot-knowledge-base/bot-knowledge-base.stories.tsx
  src/components/custom/bot-test/bot-test.stories.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.191
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix create function modal
  packages/mcp/src/data/metadata.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/tooltip.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

merge to bot-settings
  public/design-tokens.source.json
Due: none

merge to bot-settings
  src/components/ui/__tests__/tooltip.test.tsx
Due: none

chore: publish myoperator-ui v0.0.279-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.279
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.193
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.184
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.275
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.186
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none
