Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.109
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.200 (version bump due to npm propagation)
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.110
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.202
  .claude/commands/create-component-cursor.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/plan-detail-modal/__tests__/plan-detail-modal.test.tsx
  src/components/custom/plan-detail-modal/index.ts
  src/components/custom/plan-detail-modal/plan-detail-modal.stories.tsx
  src/components/custom/plan-detail-modal/plan-detail-modal.tsx
  src/components/custom/plan-detail-modal/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.111
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.203
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/payment-summary/payment-summary.stories.tsx
  src/components/custom/payment-summary/payment-summary.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.112
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: add git push to beta publish workflow
  .claude/commands/publish-all-cursor.md
  .claude/commands/publish-all.md
Due: none

chore: publish myoperator-ui v0.0.204-beta.1 (beta)
  .cursor/commands/publish-all.md
  .cursor/rules/bootstrap-compat.mdc
  .cursor/settings.json
  .lintstagedrc.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bots/__tests__/bot-card.test.tsx
  src/components/custom/bots/__tests__/bot-list.test.tsx
  src/components/custom/bots/__tests__/create-bot-modal.test.tsx
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/bots.stories.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/bots/index.ts
  src/components/custom/bots/types.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/custom/payment-option-card/index.ts
  src/components/custom/payment-option-card/payment-option-card-modal.tsx
  src/components/custom/payment-summary/index.ts
  src/components/ui/toast.tsx
  src/components/ui/typography.stories.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: allow push to non-main branches without /publish-all
  .husky/pre-push
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.204-beta.4 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/bot-list.tsx
  src/components/custom/bots/create-bot-modal.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: update design tokens source
  public/design-tokens.source.json
Due: none

chore: publish myoperator-ui v0.0.204-beta.5 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/ivr-bot-config.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.stories.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/knowledge-base-card.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/ui/__tests__/creatable-multi-select.test.tsx
  src/components/ui/__tests__/creatable-select.test.tsx
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/creatable-multi-select.stories.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.stories.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/input.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/page-header.tsx
  src/components/ui/select.tsx
  src/components/ui/text-field.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.204-beta.8 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

fix: add unlisted-file detection to multifile validator
  packages/cli/components.yaml
  packages/cli/scripts/validate-multifile-components.js
Due: none

chore: publish myoperator-ui v0.0.204-beta.9 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/ui/creatable-multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.204
  .claude/commands/publish-all.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/creatable-multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: update design tokens
  public/design-tokens.source.json
Due: none

chore: publish myoperator-mcp v0.2.113
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: sync single-word Tailwind prefix check across both prefixer copies
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/sync-prefix-utils.js
Due: none

chore: publish myoperator-ui v0.0.205
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  scripts/validate-cva-props.js
  src/components/custom/plan-upgrade-modal/plan-upgrade-modal.stories.tsx
  src/components/custom/plan-upgrade-modal/plan-upgrade-modal.tsx
  src/components/custom/plan-upgrade-modal/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.114
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.206-beta.0 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry-types.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/index.ts
  src/components/custom/file-upload-modal/types.ts
  src/components/custom/ivr-bot/__tests__/file-upload-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/file-upload-modal.stories.tsx
  src/components/custom/ivr-bot/file-upload-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.stories.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.206-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/index.ts
  src/components/custom/file-upload-modal/types.ts
  src/components/custom/ivr-bot/file-upload-modal.stories.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.206-beta.2 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.206-beta.3 (beta)
  .claude/commands/publish-all-cursor.md
  .claude/commands/publish-all.md
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tailwind.config.storybook.js
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/e2e.test.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.206-beta.4 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/e2e.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/create-bot-modal.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.206
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.207-beta.0 (beta)
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/file-upload-modal/__tests__/file-upload-modal.test.tsx
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/index.ts
  src/components/custom/file-upload-modal/types.ts
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.207
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.116
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

fix: handle new files in update --all for multi-file components
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/update.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.209-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/file-upload-modal/file-upload-modal.stories.tsx
  src/components/custom/file-upload-modal/file-upload-modal.tsx
  src/components/custom/file-upload-modal/types.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-card.stories.tsx
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.stories.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.stories.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.stories.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/knowledge-base-card.stories.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/custom/plan-upgrade-summary-modal/plan-upgrade-summary-modal.stories.tsx
  src/components/custom/plan-upgrade-summary-modal/plan-upgrade-summary-modal.tsx
  src/components/custom/plan-upgrade-summary-modal/types.ts
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/ui/select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.209
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.117
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: remove myoperator-plugins submodule from main
  .gitignore
Due: none

add myoperator plugin
  .cursor/settings.json
Due: none

chore: publish myoperator-ui v0.0.210-beta.2 (beta)
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.210-beta.3 (beta)
  packages/cli/package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
