Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-mcp v0.2.387
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fixed date time picker
  packages/cli/scripts/generate-registry.js
  packages/cli/scripts/validate-prefix-output.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.454
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.455
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

feat: add CallLogsActiveFiltersBar and CallLogsViewTabs components along with CLI package configuration
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/call-logs/call-logs-active-filters-bar/call-logs-active-filters-bar.tsx
  src/components/custom/call-logs/call-logs-view-tabs/call-logs-view-tabs.tsx
Due: none

call-logs-view-tabs section changes
  src/components/custom/call-logs/call-logs-view-tabs/call-logs-view-tabs.tsx
Due: none

chore: publish myoperator-ui v0.0.456
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.388
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add clear x icon in the daterange picker
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-range-picker.test.tsx
  src/components/ui/date-range-picker.stories.tsx
  src/components/ui/date-range-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.457
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.389
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

emptyMessage add in the selectfield
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.458
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.390
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

update error when i update select field
  packages/cli/components.yaml
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.459
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore(verify): add a headless Storybook story sweep
  design/verify/story-sweep.mjs
  design/verify/story-sweep.runner.js
Due: none

fix(scripts): validate-cva-props reads every cva() recipe and accepts explicitly typed props
  scripts/validate-cva-props.js
Due: none

fix(v2): make the v2 test files type-clean under tsc
  src/components/ui/__tests__/v2/bouncing-loader.test.tsx
  src/components/ui/__tests__/v2/breadcrumbs.test.tsx
  src/components/ui/__tests__/v2/date-time-picker.test.tsx
  src/components/ui/__tests__/v2/empty-state.test.tsx
  src/components/ui/__tests__/v2/panel.test.tsx
  src/components/ui/__tests__/v2/reply-quote.test.tsx
  src/components/ui/__tests__/v2/scrollbar.test.tsx
  src/components/ui/__tests__/v2/toast.test.tsx
Due: none

feat(v2): link the remaining 16 stories to their Figma card
  src/components/ui/v2/accordion.stories.tsx
  src/components/ui/v2/alert.stories.tsx
  src/components/ui/v2/avatar.stories.tsx
  src/components/ui/v2/bouncing-loader.stories.tsx
  src/components/ui/v2/creatable-multi-select.stories.tsx
  src/components/ui/v2/creatable-select.stories.tsx
  src/components/ui/v2/date-range-picker.stories.tsx
  src/components/ui/v2/date-time-picker.stories.tsx
  src/components/ui/v2/empty-state.stories.tsx
  src/components/ui/v2/number-step-field.stories.tsx
  src/components/ui/v2/page-header.stories.tsx
  src/components/ui/v2/pagination.stories.tsx
  src/components/ui/v2/panel.stories.tsx
  src/components/ui/v2/readable-field.stories.tsx
  src/components/ui/v2/skeleton.stories.tsx
  src/components/ui/v2/spinner.stories.tsx
Due: none

docs(v2): record paired GitHub review branches
  design/V2-REPOSITORIES.md
Due: none

i have added action buttons in the date and time picker
  src/components/ui/__tests__/date-time-picker.test.tsx
  src/components/ui/date-time-picker.stories.tsx
  src/components/ui/date-time-picker.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.460
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/date-time-picker.test.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.391
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.461
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.392
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none
