Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.13 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/text-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

variable component
  src/components/custom/variable-selector/__tests__/edit-variable-dialog.test.tsx
  src/components/custom/variable-selector/__tests__/selected-variables-popover.test.tsx
  src/components/custom/variable-selector/__tests__/types.test.ts
  src/components/custom/variable-selector/__tests__/variable-chip.test.tsx
  src/components/custom/variable-selector/__tests__/variable-selector.test.tsx
  src/components/custom/variable-selector/__tests__/variable-value-input.test.tsx
  src/components/custom/variable-selector/edit-variable-dialog.stories.tsx
  src/components/custom/variable-selector/edit-variable-dialog.tsx
  src/components/custom/variable-selector/index.ts
  src/components/custom/variable-selector/selected-variables-popover.stories.tsx
  src/components/custom/variable-selector/selected-variables-popover.tsx
  src/components/custom/variable-selector/types.ts
  src/components/custom/variable-selector/variable-chip.stories.tsx
  src/components/custom/variable-selector/variable-chip.tsx
  src/components/custom/variable-selector/variable-selector.stories.tsx
  src/components/custom/variable-selector/variable-selector.tsx
  src/components/custom/variable-selector/variable-value-input.stories.tsx
  src/components/custom/variable-selector/variable-value-input.tsx
Due: none

variable component
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/custom/variable-selector/variable-value-input.tsx
  src/index.ts
Due: none

variable component
  src/components/custom/variable-selector/__tests__/selected-variables-popover.test.tsx
  src/components/custom/variable-selector/__tests__/variable-selector.test.tsx
  src/components/custom/variable-selector/types.ts
  src/components/custom/variable-selector/variable-selector.tsx
  src/components/custom/variable-selector/variable-value-input.tsx
Due: none

chore: publish myoperator-ui v0.0.216-beta.14 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.15 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.16 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-ui v${BETA_VERSION} (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/e2e.test.ts
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/bot-card.tsx
Due: eslint --fix

variable component
  packages/cli/components.yaml
  src/components/custom/variable-selector/edit-variable-dialog.tsx
  src/components/custom/variable-selector/selected-variables-popover.tsx
  src/components/custom/variable-selector/variable-chip.tsx
  src/components/custom/variable-selector/variable-selector.stories.tsx
  src/components/custom/variable-selector/variable-selector.tsx
  src/components/custom/variable-selector/variable-value-input.tsx
Due: none

variable component
  src/components/custom/variable-selector/__tests__/popover-layout.test.ts
  src/components/custom/variable-selector/popover-layout.ts
Due: none

variable component
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/variable-selector/__tests__/selected-variables-popover.test.tsx
  src/components/custom/variable-selector/__tests__/variable-selector.test.tsx
  src/components/custom/variable-selector/selected-variables-popover.tsx
  src/components/custom/variable-selector/types.ts
  src/components/custom/variable-selector/variable-selector.stories.tsx
  src/components/custom/variable-selector/variable-selector.tsx
  src/components/custom/variable-selector/variable-value-input.tsx
Due: none

chore: publish myoperator-ui v0.0.216-beta.18 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/types.ts
  src/components/ui/select-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.19 (beta)
  .api-snapshot.json
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/types.ts
  src/components/ui/__tests__/text-field.test.tsx
  src/components/ui/__tests__/textarea.test.tsx
  src/components/ui/input.tsx
  src/components/ui/text-field.tsx
  src/components/ui/textarea.stories.tsx
  src/components/ui/textarea.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.20 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/button.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

fix: resolve pre-existing lint errors and stale CLI test assertion
  packages/cli/src/__tests__/registry.test.ts
  playground/App.tsx
  src/components/ui/__tests__/phone-input.test.tsx
  src/components/ui/text-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.216-beta.21 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-ui v0.0.216-beta.22 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.23 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.24 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-page/__tests__/pricing-page.test.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
  src/components/custom/pricing-page/pricing-page.tsx
  src/components/custom/pricing-page/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.216-beta.26 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
  src/components/custom/pricing-page/pricing-page.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.217
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.124
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

feat: chat playground UI/UX improvements - component updates
  packages/cli/components.yaml
  playground/App.tsx
  src/components/custom/chat-composer/types.ts
  src/components/custom/chat-list-item/chat-list-item.stories.tsx
  src/components/custom/chat-list-item/chat-list-item.tsx
  src/components/custom/chat-timeline-divider/__tests__/chat-timeline-divider.test.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.stories.tsx
  src/components/custom/chat-timeline-divider/chat-timeline-divider.tsx
  src/components/custom/chat-timeline-divider/index.ts
  src/components/custom/doc-media/__tests__/doc-media.test.tsx
  src/components/custom/doc-media/doc-media.stories.tsx
  src/components/custom/doc-media/doc-media.tsx
  src/components/ui/dropdown-menu.stories.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tag.stories.tsx
  src/components/ui/tag.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.218-beta.0 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  playground/App.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.218
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.125
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.218-beta.1 (beta)
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bots/bot-card.tsx
  src/components/custom/bots/bot-list-grid.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/custom/ivr-bot/types.ts
  src/components/ui/alert.tsx
  src/components/ui/creatable-multi-select.tsx
  src/components/ui/creatable-select.tsx
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.219
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: publish myoperator-mcp v0.2.126
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
Due: none

chore: publish myoperator-mcp v0.2.127
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

fix: add explicit border-solid to remaining ivr-bot components and table
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/bot-identity-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/fallback-prompts-card.tsx
  src/components/custom/ivr-bot/frustration-handover-card.tsx
  src/components/custom/ivr-bot/functions-card.tsx
  src/components/custom/ivr-bot/ivr-bot-config.tsx
  src/components/custom/ivr-bot/knowledge-base-card.tsx
  src/components/ui/table.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.221
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/chat-template-modal/chat-template-modal.stories.tsx
Due: none

chore: publish myoperator-mcp v0.2.128
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

create function validation
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: none

Create Function
  packages/cli/components.yaml
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
Due: eslint --fix

create Functionadd url validation
  src/components/custom/ivr-bot/create-function-validation.ts
Due: none

create Functionadd url validation
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/create-function-modal.stories.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/index.ts
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.222
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
