Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

.lintstagedrc.json:

{
  "src/components/ui/*.tsx": [
    "eslint --fix",
    "npm run api:check",
    "cd packages/cli && npm run generate-registry"
  ],
  "packages/cli/src/**/*.ts": [
    "eslint --fix"
  ]
}

chore: publish myoperator-mcp v0.2.155
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

voicebot changes
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/ivr-bot/__tests__/advanced-settings-card.test.tsx
  src/components/custom/ivr-bot/__tests__/create-function-modal.test.tsx
  src/components/custom/ivr-bot/advanced-settings-bounds.ts
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/ivr-bot/bot-behavior-card.tsx
  src/components/custom/ivr-bot/create-function-modal.tsx
  src/components/custom/ivr-bot/ivr-bot.stories.tsx
  src/components/custom/ivr-bot/types.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.249
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.156
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.250
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.157
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.251
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/custom/pricing-card/pricing-card.stories.tsx
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-card/types.ts
  src/components/custom/pricing-page/pricing-page.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.158
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.252
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/dialog.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.159
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.253
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/ivr-bot/advanced-settings-card.tsx
  src/components/custom/pricing-page/pricing-page.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.160
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-mcp v0.2.161
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.255
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-test/__tests__/bot-test.test.tsx
  src/components/custom/bot-test/bot-test.stories.tsx
  src/components/custom/bot-test/bot-test.tsx
  src/components/custom/bot-test/index.ts
  src/components/custom/bot-test/types.ts
  src/components/ui/phone-input.tsx
  src/components/ui/select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.162
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.256
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/let-us-drive-card/let-us-drive-card.stories.tsx
  src/components/custom/let-us-drive-card/let-us-drive-card.tsx
  src/components/custom/let-us-drive-card/types.ts
  src/components/custom/pricing-card/pricing-card.tsx
  src/components/custom/pricing-page/pricing-page.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.163
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.257
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/custom/pricing-page/pricing-page.stories.tsx
Due: none

chore: publish myoperator-mcp v0.2.164
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.258
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/add-integration/__tests__/add-integration.test.tsx
  src/components/custom/add-integration/add-integration.stories.tsx
  src/components/custom/add-integration/add-integration.tsx
  src/components/custom/add-integration/connected-account-card.tsx
  src/components/custom/add-integration/types.ts
  src/components/custom/bot-human-handover/__tests__/bot-human-handover.test.tsx
  src/components/custom/bot-human-handover/bot-human-handover.stories.tsx
  src/components/custom/bot-human-handover/bot-human-handover.tsx
  src/components/custom/bot-human-handover/types.ts
  src/components/custom/switch-account-modal/__tests__/switch-account-modal.test.tsx
  src/components/custom/switch-account-modal/index.ts
  src/components/custom/switch-account-modal/switch-account-modal.stories.tsx
  src/components/custom/switch-account-modal/switch-account-modal.tsx
  src/components/custom/switch-account-modal/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.165
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.259
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-human-handover/__tests__/bot-human-handover.test.tsx
  src/components/custom/bot-human-handover/bot-human-handover.stories.tsx
  src/components/custom/bot-human-handover/bot-human-handover.tsx
  src/components/custom/bot-human-handover/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.166
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

design chages in the Bot FollowUp
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.stories.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/index.ts
  src/components/custom/bot-follow-ups/types.ts
  src/components/custom/bot-nudges/__tests__/bot-nudges.test.tsx
  src/components/custom/bot-nudges/bot-nudges.stories.tsx
  src/components/custom/bot-nudges/bot-nudges.tsx
  src/components/custom/bot-nudges/index.ts
  src/components/custom/bot-nudges/types.ts
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/number-step-field.test.tsx
  src/components/ui/input.tsx
  src/components/ui/number-step-field.stories.tsx
  src/components/ui/number-step-field.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

feat: update chat components, carousel-media, and add sender-indicator
  AGENTS.md
  CLAUDE.md
  packages/cli/components.yaml
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
  playground/assets/waba-illustration.png
  src/components/custom/carousel-media/__tests__/carousel-media.test.tsx
  src/components/custom/carousel-media/carousel-media.stories.tsx
  src/components/custom/carousel-media/carousel-media.tsx
  src/components/custom/carousel-media/types.ts
  src/components/custom/chat-message-list/chat-message-list.stories.tsx
  src/components/custom/chat-message-list/chat-message-list.tsx
  src/components/custom/chat-message-list/message-renderers.tsx
  src/components/custom/chat-template-modal/media-tab.tsx
  src/components/custom/chat-template-modal/template-preview.tsx
  src/components/custom/chat-transport/mock-transport.ts
  src/components/custom/chat-types/types.ts
  src/components/custom/sender-indicator/index.ts
  src/components/custom/sender-indicator/sender-indicator.stories.tsx
  src/components/custom/sender-indicator/sender-indicator.tsx
Due: eslint --fix

design chages in the Bot FollowUp
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-follow-ups/bot-follow-ups.stories.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
Due: eslint --fix

chore: publish myoperator-ui v0.0.260
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/custom/chat-message-list/message-renderers.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.167
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

design chages in the Bot FollowUp
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.stories.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/types.ts
  src/components/ui/__tests__/number-step-field.test.tsx
  src/components/ui/number-step-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

change BotSettings layout
  packages/cli/components.yaml
  packages/cli/src/utils/registry-index.ts
  public/design-tokens.source.json
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.fixtures.ts
  src/components/custom/bot-settings/bot-settings.stories.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/bot-settings/index.ts
  src/components/custom/bot-settings/types.ts
  src/components/ui/__tests__/multi-select.test.tsx
  src/components/ui/multi-select.stories.tsx
  src/components/ui/multi-select.tsx
  src/index.ts
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

add validation in the Bot Follow-ups
  public/design-tokens.source.json
  src/components/custom/bot-follow-ups/__tests__/bot-follow-ups.test.tsx
  src/components/custom/bot-follow-ups/bot-follow-ups.tsx
  src/components/custom/bot-follow-ups/index.ts
  src/components/custom/bot-follow-ups/types.ts
  src/index.ts
Due: none

chore: publish myoperator-ui v0.0.261
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
Due: eslint --fix

chore: publish myoperator-mcp v0.2.168
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

add whatsappSearchable and whatsappShowSelectionFooter
  src/components/custom/bot-settings/__tests__/bot-settings.test.tsx
  src/components/custom/bot-settings/bot-settings.tsx
  src/components/custom/bot-settings/types.ts
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-ui v0.0.262
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.169
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

add test qr modal
  packages/cli/components.yaml
  packages/cli/src/utils/registry-index.ts
  src/components/custom/bot-instructions/bot-instructions.tsx
  src/components/custom/bot-instructions/types.ts
  src/components/custom/bot-test/__tests__/bot-test.test.tsx
  src/components/custom/bot-test/bot-test.tsx
  src/components/custom/bot-test/types.ts
  src/components/custom/test-ai-bot/__tests__/test-ai-bot.test.tsx
  src/components/custom/test-ai-bot/index.ts
  src/components/custom/test-ai-bot/test-ai-bot.stories.tsx
  src/components/custom/test-ai-bot/test-ai-bot.tsx
  src/components/custom/test-ai-bot/types.ts
  src/index.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.263
  .api-snapshot.json
  .gitignore
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  public/design-tokens.source.json
  src/components/ui/multi-select.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.170
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none
