Repository Ankish8/storybook-npm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.90
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.178
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.91
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.180
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/__tests__/select-field.test.tsx
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.92
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.181
  packages/cli/package-lock.json
  packages/cli/package.json
  src/components/ui/select-field.stories.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.93
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.182
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/__tests__/registry.test.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-index.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/power-up-card/power-up-card.stories.tsx
  src/components/custom/talk-to-us-modal/__tests__/talk-to-us-modal.test.tsx
  src/components/custom/talk-to-us-modal/icon.tsx
  src/components/custom/talk-to-us-modal/index.ts
  src/components/custom/talk-to-us-modal/talk-to-us-modal.stories.tsx
  src/components/custom/talk-to-us-modal/talk-to-us-modal.tsx
  src/components/custom/talk-to-us-modal/types.ts
  src/index.ts
  src/lib/brand-icons.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.94
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.183
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.stories.tsx
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.95
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.184
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/pricing-card/pricing-card.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.96
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.185
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.97
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.186
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/select-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.98
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.187
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/date-range-modal/date-range-modal.stories.tsx
  src/components/custom/date-range-modal/index.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.99
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.188
  .gitignore
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/chat-list-item/__tests__/chat-list-item.test.tsx
  src/components/custom/chat-list-item/chat-list-item.stories.tsx
  src/components/custom/chat-list-item/chat-list-item.tsx
  src/components/custom/chat-list-item/index.ts
  src/components/ui/__tests__/dropdown-menu.test.tsx
  src/components/ui/__tests__/table.test.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.stories.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/table.stories.tsx
  src/components/ui/table.tsx
  src/components/ui/text-field.tsx
  src/index.ts
  tailwind.config.js
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.100
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.189
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/auto-pay-setup/auto-pay-setup.stories.tsx
  src/components/custom/auto-pay-setup/auto-pay-setup.tsx
  src/components/custom/auto-pay-setup/types.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.101
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.190
  .cursor/commands/create-component.md
  .cursor/commands/publish-all.md
  .cursor/rules/component-enforcement.mdc
  .cursor/rules/publish-checklist.mdc
  .cursor/rules/registry-protection.mdc
  .cursor/skills/create-component/SKILL.md
  .cursor/skills/create-component/component-analysis.md
  .cursor/skills/create-component/design-system.md
  .cursor/skills/create-component/storybook.md
  ONBOARDING.md
  packages/cli/components.yaml
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/auto-pay-setup/auto-pay-setup.stories.tsx
  src/components/custom/bank-details/bank-details.stories.tsx
  src/components/custom/bank-details/bank-details.tsx
  src/components/custom/bank-details/types.ts
  src/components/custom/wallet-topup/types.ts
  src/components/custom/wallet-topup/wallet-topup.stories.tsx
  src/components/custom/wallet-topup/wallet-topup.tsx
  src/index.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.102
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.191
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  src/components/custom/date-range-modal/date-range-modal.stories.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.103
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.192
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  src/components/ui/tooltip.stories.tsx
  src/components/ui/tooltip.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.104
  packages/mcp/package-lock.json
  packages/mcp/package.json
  packages/mcp/src/data/metadata.ts
Due: none

chore: publish myoperator-ui v0.0.193
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-mcp v0.2.105
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.194
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
Due: eslint --fix

chore: publish myoperator-ui v0.0.195
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/payment-summary/payment-summary.stories.tsx
  src/components/custom/payment-summary/payment-summary.tsx
Due: eslint --fix

chore: publish myoperator-mcp v0.2.106
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.196
  .claude/plugins/myoperator-design/.claude-plugin/plugin.json
  .claude/plugins/myoperator-design/skills/myoperator-design/SKILL.md
  .claude/plugins/myoperator-design/skills/myoperator-design/references/component-catalog.md
  packages/cli/package.json
  scripts/sync-design-skill.js
  src/index.ts
Due: none

chore: publish myoperator-mcp v0.2.107
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.197
  .claude/commands/publish-all.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry.ts
  src/components/custom/endpoint-details/__tests__/endpoint-details.test.tsx
  src/components/custom/endpoint-details/endpoint-details.stories.tsx
  src/components/custom/endpoint-details/endpoint-details.tsx
  src/components/ui/__tests__/readable-field.test.tsx
  src/components/ui/readable-field.stories.tsx
  src/components/ui/readable-field.tsx
Due: eslint --fix, npm run api:check, cd packages/cli && npm run generate-registry

chore: publish myoperator-mcp v0.2.108
  packages/mcp/package-lock.json
  packages/mcp/package.json
Due: none

chore: publish myoperator-ui v0.0.198
  .claude/commands/create-component.md
  eslint.config.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/scripts/generate-registry.js
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/sync.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/utils/prefix-utils.ts
  packages/cli/src/utils/registry-core.ts
  packages/cli/src/utils/registry-custom.ts
  packages/cli/src/utils/registry-data.ts
  packages/cli/src/utils/registry-feedback.ts
  packages/cli/src/utils/registry-form.ts
  packages/cli/src/utils/registry-layout.ts
  packages/cli/src/utils/registry-overlay.ts
  packages/cli/src/utils/registry.ts
  packages/mcp/src/server/tools/get-component-source.ts
  packages/mcp/src/server/tools/get-installation-info.ts
  packages/mcp/src/server/tools/install-component.ts
  packages/mcp/src/server/tools/list-components.ts
  src/components/custom/event-selector/event-selector.stories.tsx
  src/components/custom/pricing-card/__tests__/pricing-card.test.tsx
  src/components/ui/__tests__/consumer-types.test.tsx
  src/components/ui/__tests__/toast.test.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/components/ui/*.tsx) or (any of: packages/cli/src/**/*.ts)
  npm run api:check: any of: src/components/ui/*.tsx
  cd packages/cli && npm run generate-registry: any of: src/components/ui/*.tsx
